<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
	<title></title>
	<meta name="generator" content="LibreOffice 5.1.6.2 (Linux)"/>
	<meta name="created" content="2021-03-22T08:52:43.428991976"/>
	<meta name="changed" content="2021-03-22T23:03:37.358552721"/>
	<style type="text/css">
		@page { margin: 0.79in }
		p { margin-bottom: 0.1in; line-height: 120% }
		h1 { margin-bottom: 0.08in }
		h1.western { font-family: "Liberation Serif", serif }
		h1.cjk { font-family: "Noto Sans CJK SC Regular"; font-size: 24pt }
		h1.ctl { font-family: "FreeSans"; font-size: 24pt }
		h2.cjk { font-family: "Noto Sans CJK SC Regular" }
		h2.ctl { font-family: "FreeSans" }
		h3.cjk { font-family: "Noto Sans CJK SC Regular" }
		h3.ctl { font-family: "FreeSans" }
		a:link { so-language: zxx }
	</style>
</head>
<body lang="en-US" dir="ltr">
<p style="margin-bottom: 0in; line-height: 100%"><span id="Frame1" dir="ltr" style="float: left; width: 13.33in; height: 0.02in; border: none; padding: 0in; background: #ffffff">
	<p align="center" style="margin-top: 0.16in; margin-bottom: 0in; border: none; padding: 0in; text-transform: uppercase; letter-spacing: normal; line-height: 0.25in">
	<font color="#1e2e50"><font face="OpenSans"><font size="4" style="font-size: 15pt"><b>CAREERS</b></font></font></font></p>
</span>
<span id="Frame2" dir="ltr" style="float: left; width: 13.33in; height: 0.02in; border: none; padding: 0in; background: #ffffff">
	<p align="center" style="margin-bottom: 0in; line-height: 0.32in"><a name="dnn_dnnBreadcrumb_lblBreadCrumb"></a>
	<span style="display: inline-block; border: none; padding: 0in"><span style="text-transform: capitalize"><font color="#1e2e50"><font face="OpenSans"><font size="2" style="font-size: 9pt"><span style="letter-spacing: normal"><u><span style="font-weight: normal"><span style="background: transparent"><a href="https://www.nabriva.com/">Home</span></span></span></u></span></font></font></font></span></a><span style="letter-spacing: normal">&nbsp;/&nbsp;</span><span style="display: inline-block; border: none; padding: 0in"><span style="text-transform: capitalize"><font color="#1e2e50"><font face="OpenSans"><font size="2" style="font-size: 9pt"><span style="letter-spacing: normal"><u><span style="font-weight: normal"><span style="background: transparent"><a href="https://www.nabriva.com/careers">Careers</span></span></span></u></span></font></font></font></span></a></p>
</span><br/>

</p>
<div id="Banner" dir="ltr">
	<div id="dnn_BannerPane" dir="ltr">
		<div id="dnn_ctr1981_ContentPane" dir="ltr">
			<div id="dnn_ctr1981_ModuleContent" dir="ltr">
				<div id="dnn_ctr1981_HtmlModule_lblContent" dir="ltr">
					<h1 class="western" align="center" style="margin-top: 0in; margin-bottom: 0.21in; border: none; padding: 0in; line-height: 0.54in; orphans: 2; widows: 2">
					<span style="display: inline-block; border: none; padding: 0in"><font face="OpenSans"><font size="6" style="font-size: 27pt"><span style="letter-spacing: normal"><b><font color="#1e2e50">Working
					at TechIT</span></b></span></font></font></font></h1>
					<p align="center" style="margin-top: 0.1in; margin-bottom: 0.1in; border: none; padding: 0in; font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; line-height: 0.25in; orphans: 2; widows: 2">
					<span style="display: inline-block; border: none; padding: 0in"><font face="OpenSans"><font size="2" style="font-size: 10pt"><font color="#38434d">TechIT
					has experienced teams entering new test markets and competing in
					current ones. In addition, we have dedicated professionals
					focused on research and development, from early discovery to
					deployment of member services. In addition to working alongside
					our highly experienced team members, we offer the dynamic and
					flexible culture of a technology company.</span></font></font></font></p>
					<p align="center" style="margin-top: 0.1in; margin-bottom: 0.1in; border: none; padding: 0in; font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; line-height: 0.25in; orphans: 2; widows: 2">
					<span style="display: inline-block; border: none; padding: 0in"><font face="OpenSans"><font size="2" style="font-size: 10pt"><font color="#38434d">We
					invite you to browse our current openings below.&nbsp;&nbsp;</span></font></font></font></p>
					<h2 class="western" align="center" style="margin-top: 0in; margin-bottom: 0in; border: none; padding: 0in; font-variant: normal; letter-spacing: normal; font-style: normal; line-height: 0.42in; orphans: 2; widows: 2">
					<span style="display: inline-block; border: none; padding: 0in"><font face="OpenSans"><font size="5" style="font-size: 18pt"><b><font color="#1e2e50">Job
					Opportunities</span></b></font></font></font></h2>
					<p style="margin-bottom: 0.1in; border: none; padding: 0in; font-variant: normal; letter-spacing: normal; line-height: 0.25in; orphans: 2; widows: 2">
					<span style="display: inline-block; border: none; padding: 0in"><font color="#38434d">&nbsp;</span></font></p>
					<p style="margin-bottom: 0in; border: none; padding: 0in; line-height: 0.25in; orphans: 2; widows: 2">
					<span style="display: inline-block; border: none; padding: 0in"><em><span style="font-variant: normal"><font color="#38434d"><font face="inherit"><font size="2" style="font-size: 10pt"><span style="letter-spacing: normal"><i><b><strong>CEO</b></i></span></font></font></font></span></em></strong><em><span style="font-variant: normal"><font color="#38434d"><font face="inherit"><font size="2" style="font-size: 10pt"><span style="letter-spacing: normal"><i><b><strong>&nbsp;&nbsp;</b></i></span></font></font></font></span></em></strong><em><a href="https://www.nabriva.com/Portals/0/Nabriva/Job_Descriptions/Job_Description_Sr_Director_Commercial_Operations%20_Analytics.pdf"><span style="font-variant: normal"><font color="#028bff"><font face="inherit"><font size="2" style="font-size: 10pt"><span style="letter-spacing: normal"><i><u><b><span style="background: transparent"><strong>Click
					Here for Full Job Description</span></span></b></u></i></span></font></font></font></span></a></em></strong></p>
					<p style="margin-bottom: 0in; line-height: 100%">Junior and
					Senior level positions available 
					</p>
					<p style="margin-bottom: 0in; line-height: 100%"><br/>

					</p>
					<p style="margin-bottom: 0in; line-height: 100%">We are looking
					for a visionary that can be a leader and make decisions. The
					applicant should be talented and dream big. They should express
					passion about the possible achievement of the company. 
					</p>
					<p style="margin-bottom: 0in; line-height: 100%"><br/>

					</p>
					<p style="margin-bottom: 0in; line-height: 100%">As the chief
					executive officer, the applicant has to look for external
					opportunities. They should be able to find pain points and fix
					them. They should be able to supplement the company’s needs
					when consultants and specialists aren’t available to make the
					vision a reality. They have to be good at wearing several hats
					and solving a lot of different problems</p>
					<p style="margin-bottom: 0in; line-height: 100%"><br/>

					</p>
					<p style="margin-bottom: 0in; line-height: 100%">They should be
					ready to pounce onto another problem when another is fixed.
					We’re looking for a candidate who will not rely on the phrase
					“that’s not my job” but also knows when to delegate work.
					Personal ability to prioritize is important. Constant strategic
					thinking how to push the company forward is a must. A good
					candidate will be able to identify problems stemming from
					morale, workplace culture, team/employee cohesiveness, employee
					happiness, whether leadership goals are being met, and where
					inefficiencies can cause disruption in crucial processes.</p>
					<p style="margin-bottom: 0in; line-height: 100%"><br/>

					</p>
					<p style="margin-bottom: 0in; line-height: 100%"><br/>

					</p>
					<p style="margin-bottom: 0in; line-height: 100%">Core
					responsibilities of a startup CEO: 
					</p>
					<p style="margin-bottom: 0in; line-height: 100%">Setting
					strategy and direction</p>
					<p style="margin-bottom: 0in; line-height: 100%">Creating,
					living and breathing company culture, values, and behavior</p>
					<p style="margin-bottom: 0in; line-height: 100%">Hiring and
					leading the company's executive team</p>
					<p style="margin-bottom: 0in; line-height: 100%">Implementing
					short and long term plans</p>
					<p style="margin-bottom: 0in; line-height: 100%">Making
					important managerial and operational decisions</p>
					<p style="margin-bottom: 0in; line-height: 100%">Focusing on the
					needs of everybody from investors to employees, customers, and
					the board of directors</p>
					<p style="margin-bottom: 0in; border: none; padding: 0in; line-height: 0.25in; orphans: 2; widows: 2">
					<br/>

					</p>
					<p style="margin-bottom: 0in; border: none; padding: 0in; line-height: 0.25in; orphans: 2; widows: 2">
					<span style="display: inline-block; border: none; padding: 0in"><em><span style="font-variant: normal"><font color="#38434d"><font face="inherit"><font size="2" style="font-size: 10pt"><span style="letter-spacing: normal"><i><b><strong>CFO-
					Money Manager</b></i></span></font></font></font></span></em></strong><em><span style="font-variant: normal"><font color="#38434d"><font face="inherit"><font size="2" style="font-size: 10pt"><span style="letter-spacing: normal"><i><b><strong>&nbsp;&nbsp;</b></i></span></font></font></font></span></em></strong><em><a href="https://www.nabriva.com/Portals/0/Nabriva/Job_Descriptions/Job_Description_Dir_Customer_Insights_and_Forecasting.pdf"><span style="font-variant: normal"><font color="#028bff"><font face="inherit"><font size="2" style="font-size: 10pt"><span style="letter-spacing: normal"><i><u><b><span style="background: transparent"><strong>Click
					Here for Full Job Description</span></span></b></u></i></span></font></font></font></span></a></em></strong></p>
					<p style="margin-bottom: 0in; line-height: 100%">Duties:</p>
					<p style="margin-bottom: 0in; line-height: 100%">	Manage company
					finances</p>
					<p style="margin-bottom: 0in; line-height: 100%">	Innovate
					growth</p>
					<p style="margin-bottom: 0in; line-height: 100%">	Form
					relationships with other companies</p>
					<p style="margin-bottom: 0in; line-height: 100%">	Create
					financial processes</p>
					<p style="margin-bottom: 0in; line-height: 100%">	Set up
					infrasctucture to satisfy reporting requirements for the company
					as it scales</p>
					<p style="margin-bottom: 0in; line-height: 100%">	Excellent
					ability to optimize cash 
					</p>
					<p style="margin-bottom: 0in; line-height: 100%">	Being held
					accountable via reports</p>
					<p style="margin-bottom: 0in; line-height: 100%">	Able to
					identify when too much money is being spent in a department and
					utulize it correctly 			and come up with a solution</p>
					<p style="margin-bottom: 0in; line-height: 100%"><br/>

					</p>
					<p style="margin-bottom: 0in; line-height: 100%">Core
					responsibilities of a startup CFO:</p>
					<p style="margin-bottom: 0in; line-height: 100%"><br/>

					</p>
					<p style="margin-bottom: 0in; line-height: 100%">	Preparing
					budgets</p>
					<p style="margin-bottom: 0in; line-height: 100%">	Monitoring
					expenditures, costs, and P&amp;L</p>
					<p style="margin-bottom: 0in; line-height: 100%">	Reviewing,
					analyzing, and reporting on the company's financial data and
					performance</p>
					<p style="margin-bottom: 0in; line-height: 100%">	Taking control
					of the startup's financial planning and risks associated with
					future goals</p>
					<p style="margin-bottom: 0in; line-height: 100%"><br/>

					</p>
					<p style="margin-bottom: 0.1in; border: none; padding: 0in; font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; line-height: 0.25in; orphans: 2; widows: 2">
					<br/>
<br/>

					</p>
					<p style="margin-bottom: 0in; border: none; padding: 0in; line-height: 0.25in; orphans: 2; widows: 2">
					<span style="display: inline-block; border: none; padding: 0in"><em><span style="font-variant: normal"><font color="#38434d"><font face="inherit"><font size="2" style="font-size: 10pt"><span style="letter-spacing: normal"><i><b><strong>CMO
					- MARKETER&nbsp;&nbsp;</b></i></span></font></font></font></span></em></strong><em><a href="https://www.nabriva.com/Portals/0/Nabriva/Job_Descriptions/Job_Description_Director_Marketing.pdf"><span style="font-variant: normal"><font color="#028bff"><font face="inherit"><font size="2" style="font-size: 10pt"><span style="letter-spacing: normal"><i><u><b><span style="background: transparent"><strong>Click
					Here for Full Job Description</span></span></b></u></i></span></font></font></font></span></a></em></strong></p>
					<p style="margin-bottom: 0in; line-height: 100%">Responsibilities:</p>
					<p style="margin-bottom: 0in; line-height: 100%">	marketing 
					</p>
					<p style="margin-bottom: 0in; line-height: 100%">	driving demand
					and growth of our product.</p>
					<p style="margin-bottom: 0in; line-height: 100%">	being held
					accountable for their successes (and failures). 
					</p>
					<p style="margin-bottom: 0in; line-height: 100%">	creating and
					building customer base</p>
					<p style="margin-bottom: 0in; line-height: 100%">	bringing in
					revenue</p>
					<p style="margin-bottom: 0in; line-height: 100%">	making the
					company profitable.</p>
					<p style="margin-bottom: 0in; line-height: 100%">	being the
					driving force behind engagement, retention, marketing
					communications, creative and 			brand strategies.</p>
					<p style="margin-bottom: 0in; line-height: 100%"><br/>

					</p>
					<p style="margin-bottom: 0in; line-height: 100%">Core
					responsibilities:</p>
					<p style="margin-bottom: 0in; line-height: 100%"><br/>

					</p>
					<p style="margin-bottom: 0in; line-height: 100%">	User
					acquisition, lead generation, and retention/engagement</p>
					<p style="margin-bottom: 0in; line-height: 100%">	All marketing
					communications</p>
					<p style="margin-bottom: 0in; line-height: 100%">	Brand
					positioning/identity</p>
					<p style="margin-bottom: 0in; line-height: 100%">	Research and
					analytics</p>
					<p style="margin-bottom: 0in; line-height: 100%">	Product
					marketing and positioning</p>
					<p style="margin-bottom: 0in; line-height: 100%"><br/>

					</p>
					<p style="margin-bottom: 0in; line-height: 100%">The role
					involves a lot of moving parts. 
					</p>
					<p style="margin-bottom: 0in; line-height: 100%"><br/>

					</p>
					<p align="center" style="margin-bottom: 0in; line-height: 100%">“Startups
					typically operate with just an idea and lack the essential
					marketing assets needed to run a successful business: strong
					brand identity, healthy customer roster and established
					references. There is also the obvious financial obstacle of a
					limited marketing budget that hinders immediate growth if
					creative thinking and resourcefulness are not within the team's
					grasp. This is challenging for companies with customer functions
					where failure is simply not an option.” Mike Grandinetti 
					</p>
					<p style="margin-bottom: 0.1in; border: none; padding: 0in; font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; line-height: 0.25in; orphans: 2; widows: 2">
					<br/>
<br/>

					</p>
					<p style="margin-bottom: 0in; border: none; padding: 0in; line-height: 0.25in; orphans: 2; widows: 2">
					<span style="display: inline-block; border: none; padding: 0in"><em><span style="font-variant: normal"><font color="#38434d"><font face="inherit"><font size="2" style="font-size: 10pt"><span style="letter-spacing: normal"><i><b><strong>CTO
					- INNOVATOR&nbsp;&nbsp;</b></i></span></font></font></font></span></em></strong><em><a href="https://www.nabriva.com/Portals/0/Nabriva/Job_Descriptions/Job_Description_Manager%20Marketing_Services_Support.pdf"><span style="font-variant: normal"><font color="#028bff"><font face="inherit"><font size="2" style="font-size: 10pt"><span style="letter-spacing: normal"><i><u><b><span style="background: transparent"><strong>Click
					Here for Full Job Description</span></span></b></u></i></span></font></font></font></span></a></em></strong></p>
					<p style="margin-bottom: 0in; line-height: 100%">The role of the
					CTO isn't only about coding and development.</p>
					<p style="margin-bottom: 0in; line-height: 100%"><br/>

					</p>
					<p style="margin-bottom: 0in; line-height: 100%">A startup CTO
					is a CEOs right hand and helps them fine-tune strategy, tactics,
					and business goals to push the company forward. In the first
					stages of the startup, the CTO will be hands-on in the
					IT/development side of the company, helping to invent the
					product before the company progresses out of its early-stages.</p>
					<p style="margin-bottom: 0in; line-height: 100%"><br/>

					</p>
					<p style="margin-bottom: 0in; line-height: 100%">Let's address
					the elephant in the room. Wouldn't a CTO just be in charge of
					tech at a startup?</p>
					<p style="margin-bottom: 0in; line-height: 100%"><br/>

					</p>
					<p style="margin-bottom: 0in; line-height: 100%">Well, yes and
					no. While a CTO needs to lead the startup's engineering team,
					it's also their job to also focus on what the customer wants
					from the end product, and use that to increase the company's
					revenue.</p>
					<p style="margin-bottom: 0in; line-height: 100%"><br/>

					</p>
					<p style="margin-bottom: 0in; line-height: 100%">In the early
					stages of a startup, a CTO must be willing to pull up their
					sleeves and do some heavy lifting to get a product or service
					off the ground. This means juggling different roles and being a
					master of all things when it comes to tech, including coding.</p>
					<p style="margin-bottom: 0in; line-height: 100%"><br/>

					</p>
					<p style="margin-bottom: 0in; line-height: 100%">Sergey Bushtruk
					has been the CTO of two startups and says the role needs a
					person who can solve anything quicker than anyone else.</p>
					<p style="margin-bottom: 0in; line-height: 100%"><br/>

					</p>
					<p style="margin-bottom: 0in; line-height: 100%">&quot;Coding is
					not the main function of a CTO, but he must know how to do
					that,&quot; he says.</p>
					<p style="margin-bottom: 0in; line-height: 100%"><br/>

					</p>
					<p style="margin-bottom: 0in; line-height: 100%">&quot;For
					example, if the deadline is on fire, a CTO can work side by side
					with his team and code or run tests if they require his help.&quot;</p>
					<p style="margin-bottom: 0in; line-height: 100%"><br/>

					</p>
					<p style="margin-bottom: 0in; line-height: 100%">Ultimately,
					it's a CTOs tech skills that set them apart. If you're looking
					at hiring a CTO who has stronger soft skills than their tech
					skills, they may be better suited to a project manager role.</p>
					<p style="margin-bottom: 0in; line-height: 100%"><br/>

					</p>
					<p style="margin-bottom: 0in; line-height: 100%">Core
					responsibilities of a startup CTO:</p>
					<p style="margin-bottom: 0in; line-height: 100%">In the early
					stages, coding and developing the company's product</p>
					<p style="margin-bottom: 0in; line-height: 100%">Developing and
					fine-tuning the startup's strategy for using tech resources</p>
					<p style="margin-bottom: 0in; line-height: 100%">Making sure the
					tech team is hitting deadlines, and using their time
					productively and efficiently</p>
					<p style="margin-bottom: 0in; line-height: 100%">Focusing on
					ways the backend team can increase product revenue 
					</p>
					<p style="margin-bottom: 0.1in; border: none; padding: 0in; line-height: 0.25in; orphans: 2; widows: 2">
					<span style="display: inline-block; border: none; padding: 0in"><font color="#38434d"><font face="OpenSans"><font size="2" style="font-size: 10pt"><span style="letter-spacing: normal"><span style="font-style: normal"><span style="font-weight: normal"><span style="font-variant: normal">Developing
					and implementing product infrastructure</span></span></span></span></font></font></font></span></p>
					<p style="margin-bottom: 0in; border: none; padding: 0in; line-height: 0.25in; orphans: 2; widows: 2">
					<span style="display: inline-block; border: none; padding: 0in"><a href="https://github.com/vedabrat/StartupBuilder-/tree/main/Hiring%20Docs/Positions/DEVELOPER%20-%20BUILDER"><span style="font-variant: normal"><font color="#38434d"><span style="text-decoration: none"><font face="apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji"><font size="2" style="font-size: 10pt"><span style="letter-spacing: normal"><span style="font-style: normal"><span style="font-weight: normal"><span style="background: #ffffff"><em>DEVELOPER
					- BUILDER</span></span></span></span></font></font></span></font></span></a></em><em><span style="font-variant: normal"><font color="#38434d"><font face="inherit"><font size="2" style="font-size: 10pt"><span style="letter-spacing: normal"><i><b><strong>&nbsp;&nbsp;</b></i></span></font></font></font></span></em></strong><em><a href="https://www.nabriva.com/Portals/0/Nabriva/Job_Descriptions/Job%20Description_Director_Quality_RP_Ireland_Dec2020.pdf"><span style="font-variant: normal"><font color="#028bff"><font face="inherit"><font size="2" style="font-size: 10pt"><span style="letter-spacing: normal"><i><u><b><span style="background: transparent"><strong>Click
					Here for Full Job Description</span></span></b></u></i></span></font></font></font></span></a></em></strong></p>
					<p style="margin-bottom: 0in; line-height: 100%">Reports to CTO.</p>
					<p style="margin-bottom: 0in; line-height: 100%"><br/>

					</p>
					<p style="margin-bottom: 0in; line-height: 100%"><br/>

					</p>
					<p style="margin-bottom: 0in; line-height: 100%">Core
					responsibilities:</p>
					<p style="margin-bottom: 0in; line-height: 100%"><br/>

					</p>
					<p style="margin-bottom: 0in; line-height: 100%">	Code, design,
					test, and debug software</p>
					<p style="margin-bottom: 0in; line-height: 100%">	Review current
					systems</p>
					<p style="margin-bottom: 0in; line-height: 100%">	Work closely
					with the rest of the startup team including CTO, designers, and
					product manager 			to keep the product in line with the
					company's strategy</p>
					<p style="margin-bottom: 0in; line-height: 100%">	Create and
					present ideas for improvements to software and systems (and
					include cost proposals 			with them)</p>
					<p style="margin-bottom: 0in; line-height: 100%">	Testing
					products and updates before they go live</p>
					<p style="margin-bottom: 0in; line-height: 100%">	Writing and
					preparing training manuals for customers</p>
					<p style="margin-bottom: 0in; line-height: 100%">	Maintaining
					and monitoring systems when products go live to minimize
					disruptions</p>
					<p style="margin-bottom: 0in; line-height: 100%">	Has an eye for
					finding issues in code.</p>
					<p style="margin-bottom: 0in; line-height: 100%">	Refactoring</p>
					<p style="margin-bottom: 0in; line-height: 100%"><br/>

					</p>
					<p style="margin-bottom: 0in; line-height: 100%">Ideal habits:</p>
					<p style="margin-bottom: 0in; line-height: 100%">	have strong
					communication skills, 
					</p>
					<p style="margin-bottom: 0in; line-height: 100%">	able to work
					in a team environment, 
					</p>
					<p style="margin-bottom: 0in; line-height: 100%">	eye for detail
										</p>
					<p style="margin-bottom: 0in; line-height: 100%">	</p>
					<p style="margin-bottom: 0in; line-height: 100%">The ideal
					candidate will be curious with code, and a willing to push
					boundaries to create a killer product. The bulk of their time
					will be spent designing, coding, testing, and debugging
					software. They will also have to push to complete code
					developments so that products and features can be released to
					customers on time.</p>
					<p style="margin-bottom: 0in; line-height: 100%"><br/>

					</p>
					<p style="margin-bottom: 0in; line-height: 100%">Great
					developers aren't just great on paper. They need to truly
					integrate into a small team, be willing to problem solve and go
					beyond their job scope to get a product released on time.</p>
					<p align="center" style="margin-bottom: 0in; line-height: 100%"><br/>

					</p>
					<p align="center" style="margin-bottom: 0in; line-height: 100%">“Working
					in a startup is probably the most exciting place to be a
					developer simply because developers can be the master of their
					own destiny. It's also one of the toughest places as you will
					probably have very little safety net or support. Startup job
					roles often don't cover the responsibilities of the job
					accurately, in many cases because they don't know what's needed
					until a particular idea or situation surfaces.&quot;</p>
					<p align="center" style="margin-bottom: 0in; line-height: 100%">-
					Cronofy 
					</p>
					<p style="margin-bottom: 0.1in; border: none; padding: 0in; line-height: 0.25in; orphans: 2; widows: 2">
					<br/>
<br/>

					</p>
					<p style="margin-bottom: 0in; border: none; padding: 0in; line-height: 0.25in; orphans: 2; widows: 2">
					<span style="display: inline-block; border: none; padding: 0in"><em><span style="font-variant: normal"><font color="#38434d"><font face="inherit"><font size="2" style="font-size: 10pt"><span style="letter-spacing: normal"><i><b><strong>OPERATIONS
					- ORGANIZER&nbsp;&nbsp;</b></i></span></font></font></font></span></em></strong><em><a href="https://www.nabriva.com/Portals/0/Nabriva/Job_Descriptions/Job%20Description_2020_Director_Business_Development_Final_DEC2020.pdf"><span style="font-variant: normal"><font color="#028bff"><font face="inherit"><font size="2" style="font-size: 10pt"><span style="letter-spacing: normal"><i><u><b><span style="background: transparent"><strong>Click
					Here for Full Job Description</span></span></b></u></i></span></font></font></font></span></a></em></strong></p>
					<p style="margin-bottom: 0in; line-height: 100%">Responsibilities:</p>
					<p style="margin-bottom: 0in; line-height: 100%">	Ensure the
					product idea becomes a reality as quickly as possible.</p>
					<p style="margin-bottom: 0in; line-height: 100%">	Boost team
					productivity</p>
					<p style="margin-bottom: 0in; line-height: 100%">	Keep all
					internal teams in check to ensure they are on track and not
					facing impediments</p>
					<p style="margin-bottom: 0in; line-height: 100%">	Makes sure
					everyone is doing what they should be doing.</p>
					<p style="margin-bottom: 0in; line-height: 100%">	Holding things
					together</p>
					<p style="margin-bottom: 0in; line-height: 100%">	Keeping things
					on track</p>
					<p style="margin-bottom: 0in; line-height: 100%">	Coordinating
					communication between departments</p>
					<p style="margin-bottom: 0in; line-height: 100%">	Creating
					operational systems, managing structure, processes, and
					policies.</p>
					<p style="margin-bottom: 0in; line-height: 100%">	Planning and
					reviewing logistics, HR, and overall service</p>
					<p style="margin-bottom: 0in; line-height: 100%">	Execution of
					jobs/tasks (anything from creating policies to making sure HR
					pays people on 			time)</p>
					<p style="margin-bottom: 0in; line-height: 100%">	Keeping a
					close eye on the productivity and effectiveness of other
					in-house teams (finance, HR 			and tech)</p>
					<p style="margin-bottom: 0in; line-height: 100%"><br/>

					</p>
					<p style="margin-bottom: 0in; line-height: 100%">Aside from team
					supporting functions,</p>
					<p style="margin-bottom: 0in; line-height: 100%">	Raising funds</p>
					<p style="margin-bottom: 0in; line-height: 100%">	Market
					analysis</p>
					<p style="margin-bottom: 0in; line-height: 100%">	Product
					management</p>
					<p style="margin-bottom: 0in; line-height: 100%">	Contingency
					management</p>
					<p style="margin-bottom: 0in; line-height: 100%">	Managing
					communication strategy between departments</p>
					<p style="margin-bottom: 0in; line-height: 100%"><br/>

					</p>
					<p style="margin-bottom: 0.1in; border: none; padding: 0in; font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; line-height: 0.25in; orphans: 2; widows: 2">
					<span style="display: inline-block; border: none; padding: 0in"><font face="OpenSans"><font size="2" style="font-size: 10pt"><font color="#38434d">The
					ideal candidate will have excellent problem solving abilities.
					Once an operational system has been put in place, the role
					switches to keeping things on track.</span></font></font></font></p>
					<p style="margin-bottom: 0.1in; border: none; padding: 0in; font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; line-height: 0.25in; orphans: 2; widows: 2">
					<span style="display: inline-block; border: none; padding: 0in"><font face="OpenSans"><font size="2" style="font-size: 10pt"><font color="#38434d"><a href="https://github.com/vedabrat/StartupBuilder-/tree/main/Hiring%20Docs/Positions/PRODUCT%20DIRECTOR"><span style="text-decoration: none"><font face="apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji"><span style="background: #ffffff">PRODUCT
					DIRECTOR</span></font></span></a></span></font></font></font></p>
					<p style="margin-bottom: 0in; line-height: 100%">A Product
					Manager lives and breathes the product a startup is creating.
					They're in charge of directing who the product will be sold to
					and how it will be positioned to buyers.</p>
					<p style="margin-bottom: 0in; line-height: 100%"><br/>

					</p>
					<p style="margin-bottom: 0in; line-height: 100%">In simple
					terms, it's their job to show a startup's target audience that
					the product is valuable. 
					</p>
					<p style="margin-bottom: 0in; line-height: 100%"><br/>

					</p>
					<p style="margin-bottom: 0in; line-height: 100%">In a startup's
					early days, a product director will make sure the product is
					market ready and more importantly, that there's a market need
					for it. They act as a bridge between the product and the
					customer, and develop non-technical aspects around the product
					like:</p>
					<p style="margin-bottom: 0in; line-height: 100%"><br/>

					</p>
					<p style="margin-bottom: 0in; line-height: 100%">Product
					positioning (internal and external): They are responsible for
					creating the positioning of the product to the internal team and
					developing messages that will be used on target personas, as
					well as how it's positioned to the public (what is it used for?
					What problem does it solve?)</p>
					<p style="margin-bottom: 0in; line-height: 100%">Creating
					personas: User persona (who is going to use the product?) and
					buyer persona (If you are selling a product to a company, who is
					the person who will decide if they will buy it?)</p>
					<p style="margin-bottom: 0in; line-height: 100%">Pricing: Create
					a pricing structure for the product based on value, market need,
					production cost and sales cost.</p>
					<p style="margin-bottom: 0in; line-height: 100%"><br/>

					</p>
					<p style="margin-bottom: 0in; line-height: 100%">A startup
					product manager is the middle-man to UX, tech, and business at a
					startup. Image source</p>
					<p style="margin-bottom: 0in; line-height: 100%"><br/>

					</p>
					<p style="margin-bottom: 0in; line-height: 100%">A product
					manager must also help the startup founders with strategy, along
					with ideation and features. Their role is to communicate to
					their product team the value of the product, as well as its
					intent, so the team is prepared for when the product is
					released. When things ramp up, the product manager will build a
					roadmap and prioritize what needs to get done to achieve the
					initiatives and strategic goals behind the product itself.</p>
					<p style="margin-bottom: 0in; line-height: 100%"><br/>

					</p>
					<p style="margin-bottom: 0in; line-height: 100%">As for the
					product's features, the product manager will set the
					requirements for each feature and explore how they will benefit
					the user's experience. This stage requires the product manager
					and the tech team to work together to make sure the backend of a
					product translates into a better experience for their customers.
					Otherwise, it will be a wasted effort for both teams.</p>
					<p style="margin-bottom: 0in; line-height: 100%"><br/>

					</p>
					<p style="margin-bottom: 0in; line-height: 100%">Core
					responsibilities of a startup Product Manager/Director:</p>
					<p style="margin-bottom: 0in; line-height: 100%"><br/>

					</p>
					<p style="margin-bottom: 0in; line-height: 100%">Know and
					predict what a customer needs through research</p>
					<p style="margin-bottom: 0in; line-height: 100%">Build product
					marketing objectives and strategies</p>
					<p style="margin-bottom: 0in; line-height: 100%">Create product
					lines and test ideas for market viability</p>
					<p style="margin-bottom: 0in; line-height: 100%">Determine a
					product pricing strategy based on production costs, market
					demand and research</p>
					<p style="margin-bottom: 0in; line-height: 100%">Create sales
					forecasts for each product and analyze them</p>
					<p style="margin-bottom: 0.1in; border: none; padding: 0in; font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; line-height: 0.25in; orphans: 2; widows: 2">
					<span style="display: inline-block; border: none; padding: 0in"><font face="OpenSans"><font size="2" style="font-size: 10pt"><font color="#38434d"><span style="text-decoration: none"><font face="apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji"><span style="background: #ffffff">Manage
					the company's product team: planning, meetings, monitoring
					results, and organizing training</span></font></span></span></font></font></font></p>
					<p style="margin-bottom: 0.1in; border: none; padding: 0in; font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; line-height: 0.25in; orphans: 2; widows: 2">
					<span style="display: inline-block; border: none; padding: 0in"><font face="OpenSans"><font size="2" style="font-size: 10pt"><font color="#38434d"><span style="text-decoration: none"><font face="apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji"><span style="background: #ffffff">Sales
					– Rainmaker</span></font></span></span></font></font></font></p>
					<p style="margin-bottom: 0in; line-height: 100%">Positions for
					Vice President, President, Secretary, and Representatives
					Available</p>
					<p style="margin-bottom: 0in; line-height: 100%"><br/>

					</p>
					<p style="margin-bottom: 0in; line-height: 100%">The ideal
					candidates should be confident and persistent individuals. They
					should be able to convince prospects to try and buy new
					products. They should be passionate about raising the number of
					daily conversions from prospect to client.</p>
					<p style="margin-bottom: 0in; line-height: 100%"><br/>

					</p>
					<p style="margin-bottom: 0in; line-height: 100%">Core
					responsibilities of a startup VP of Sales:</p>
					<p style="margin-bottom: 0in; line-height: 100%"><br/>

					</p>
					<p style="margin-bottom: 0in; line-height: 100%">Prospecting and
					closing sales</p>
					<p style="margin-bottom: 0in; line-height: 100%">Creating and
					defining a sales strategy, process and tactics</p>
					<p style="margin-bottom: 0in; line-height: 100%">Recruiting,
					training and managing sales reps</p>
					<p style="margin-bottom: 0in; line-height: 100%">Advising sales
					reps on their current deals and helping them problem solve</p>
					<p style="margin-bottom: 0in; line-height: 100%"><br/>

					</p>
					<p style="margin-bottom: 0in; line-height: 100%">Ability to
					manage and train sales reps to reach their targets</p>
					<p style="margin-bottom: 0in; line-height: 100%">Know how to
					take advantage of the company’s sales funnel</p>
					<p style="margin-bottom: 0in; line-height: 100%"><br/>

					</p>
					<p style="margin-bottom: 0.1in; border: none; padding: 0in; font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; line-height: 0.25in; orphans: 2; widows: 2">
					<span style="display: inline-block; border: none; padding: 0in"><font face="OpenSans"><font size="2" style="font-size: 10pt"><font color="#38434d"><span style="text-decoration: none"><font face="apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji"><span style="background: #ffffff">Should
					have many soft skills. </span></font></span></span></font></font></font>
					</p>
					<p style="margin-bottom: 0.1in; border: none; padding: 0in; font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; line-height: 0.25in; orphans: 2; widows: 2">
					<span style="display: inline-block; border: none; padding: 0in"><font face="OpenSans"><font size="2" style="font-size: 10pt"><font color="#38434d"><span style="text-decoration: none"><font face="apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji"><span style="background: #ffffff">Success
					- Customer Champion</span></font></span></span></font></font></font></p>
					<p style="margin-bottom: 0in; line-height: 100%">We are looking
					for a responsible individual who can ensure that customers
					understand why the product being created is valuable. Ensuring
					that the customer has an unforgettable experience with the
					company’s product should be one of their main passions. 
					</p>
					<p style="margin-bottom: 0in; line-height: 100%">The applicant
					should have:</p>
					<p style="margin-bottom: 0in; line-height: 100%">	A high proven
					rate of word of mouth and communicative referrals.</p>
					<p style="margin-bottom: 0in; line-height: 100%">	Proven ability
					to build out internal processes and workflows to speed up
					customer support 			tickets.</p>
					<p style="margin-bottom: 0in; line-height: 100%">	Experience of
					creating processes and onboarding workflows for new customers. 
					</p>
					<p style="margin-bottom: 0in; line-height: 100%">	Ability to get
					their customers to value quickly and ensure a smooth transition
					into becoming 			clientele.</p>
					<p style="margin-bottom: 0in; line-height: 100%"><br/>

					</p>
					<p style="margin-bottom: 0in; line-height: 100%"><br/>

					</p>
					<p style="margin-bottom: 0in; line-height: 100%">Core
					responsibilities of a startup CSM:</p>
					<p style="margin-bottom: 0in; line-height: 100%"><br/>

					</p>
					<p style="margin-bottom: 0in; line-height: 100%">Give customers
					an experience beyond their expectations to create brand
					advocates and encourage word-of-mouth referrals</p>
					<p style="margin-bottom: 0in; line-height: 100%">Build workflows
					and processes internally between sales and marketing teams to
					cut down onboarding times for new customers</p>
					<p style="margin-bottom: 0in; line-height: 100%">Help customers
					see value in your product quickly by managing product
					implementation and onboarding</p>
					<p style="margin-bottom: 0in; line-height: 100%">Generate
					revenue by encouraging renewals, cross-sells, upsells, and
					expansions</p>
					<p style="margin-bottom: 0.1in; border: none; padding: 0in; font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; line-height: 0.25in; orphans: 2; widows: 2">
					<span style="display: inline-block; border: none; padding: 0in"><font face="OpenSans"><font size="2" style="font-size: 10pt"><font color="#38434d"><span style="text-decoration: none"><font face="apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji"><span style="background: #ffffff">Relay
					any suggestions from customer feedback to internal departments</span></font></span></span></font></font></font></p>
					<p style="margin-bottom: 0.1in; border: none; padding: 0in; font-variant: normal; letter-spacing: normal; line-height: 0.25in; orphans: 2; widows: 2">
					<span style="display: inline-block; border: none; padding: 0in"><font color="#38434d">&nbsp;</span></font></p>
					<p align="center" style="margin-bottom: 0in; border: none; padding: 0in; line-height: 0.25in; orphans: 2; widows: 2">
					<span style="display: inline-block; border: none; padding: 0in"><span style="font-variant: normal"><font color="#38434d"><font face="inherit"><font size="2" style="font-size: 10pt"><span style="letter-spacing: normal"><i><span style="font-weight: normal"><em>Apply
					now by emailing your CV and stated interest to
					</span></i></span></font></font></font></span></em><span style="font-variant: normal"><font color="#38434d"><font face="inherit"><font size="2" style="font-size: 10pt"><span style="letter-spacing: normal"><i><span style="font-weight: normal"><em>techitoffice@gmail.</span></i></span></font></font></font></span></em><span style="font-variant: normal"><font color="#38434d"><font face="inherit"><font size="2" style="font-size: 10pt"><span style="letter-spacing: normal"><i><span style="font-weight: normal"><em>com</span></span></i></span></font></font></font></span></em></p>
					<p style="margin-left: 0.42in; margin-bottom: 0.1in; border: none; padding: 0in; font-variant: normal; letter-spacing: normal; line-height: 0.25in; orphans: 2; widows: 2">
					<span style="display: inline-block; border: none; padding: 0in"><font color="#38434d">&nbsp;</span></font></p>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="MainBody" dir="ltr">
	<div id="section1" dir="ltr">
		<div id="dnn_ContentPane" dir="ltr">
			<div id="dnn_ctr1986_ContentPane" dir="ltr">
				<div id="dnn_ctr1986_ModuleContent" dir="ltr">
					<div id="dnn_ctr1986_HtmlModule_lblContent" dir="ltr">
						<h3 class="western" align="left" style="margin-top: 0in; margin-bottom: 0.1in; border: none; padding: 0in; line-height: 0.25in; orphans: 2; widows: 2">
						<span style="display: inline-block; border: none; padding: 0in"><font face="OpenSans"><font size="4" style="font-size: 15pt"><span style="letter-spacing: normal"><span style="font-weight: normal"><font color="#1e2e50">Equal
						Employment Opportunity Employer</span></span></span></font></font></font></h3>
						<p style="margin-bottom: 0.1in; border: none; padding: 0in; font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; line-height: 0.25in; orphans: 2; widows: 2">
						<span style="display: inline-block; border: none; padding: 0in"><font face="OpenSans"><font size="2" style="font-size: 10pt"><font color="#38434d">TechIT
						is an equal opportunity employer. All qualified applicants will
						receive consideration for employment without regard to race,
						color, religion, sex, sexual orientation, gender identity,
						national origin, protected veteran status, disability, or any
						other protected status.</span></font></font></font></p>
						<p style="margin-bottom: 0.1in; border: none; padding: 0in; font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; line-height: 0.25in; orphans: 2; widows: 2">
						<span style="display: inline-block; border: none; padding: 0in"><font face="OpenSans"><font size="2" style="font-size: 10pt"><font color="#38434d">TechIT
						does not accept unsolicited resumes from any source other than
						directly from candidates. For the protection of all parties
						involved in the recruiting process, resumes will only be
						accepted from recruiters if a signed agreement is in place at
						the inception of the recruiting effort and authorized for a
						specified position. Unsolicited resumes sent to TechIT
						Therapeutics from recruiters do not constitute any type of
						relationship between the recruiter and the company and does not
						obligate the company to pay fees if we hire from those resumes.</span></font></font></font></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
</body>
</html>