<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
	<title></title>
	<meta name="generator" content="LibreOffice 5.1.6.2 (Linux)"/>
	<meta name="created" content="2018-10-22T13:29:25.325269420"/>
	<meta name="changed" content="2018-10-31T09:57:14.105197250"/>
	<style type="text/css">
		@page { margin: 0.79in }
		p { margin-bottom: 0.1in; line-height: 120% }
	</style>
</head>
<body lang="en-US" dir="ltr">
<p style="margin-bottom: 0in; line-height: 100%">Dear gardner. I
expect you in at 6 am. You will have two bathroom breaks. Bring
breakfast and lunch. I will have you from 6-3 pm.</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%">1. call ihop a day
in advance. Tell them about a recycling project you are part of and
ask them if you can collect their waste eggshells for a week in
echange for 25 cents every 100 grams of halved eggshells. We cannot
use them if they are crushed. Ask when is best to pick them up.</p>
<p style="margin-bottom: 0in; line-height: 100%">1. you will collect
as many eggshells as you can from the ihop</p>
<p style="margin-bottom: 0in; line-height: 100%">2. break holes in
their bottoms and fill them halfway with dirt.</p>
<p style="margin-bottom: 0in; line-height: 100%">3. seed them all
with the seeds you have, label them in batches and place them in  
</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%">. 1/8</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%">Dear construction
guy.</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%">Build a tank for the
crickets. 
</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%">Buy 2 pieces of 2”
x 8” x 4’</p>
<p style="margin-bottom: 0in; line-height: 100%">buy 2 pieces of 2”
x 8” x 5’</p>
<p style="margin-bottom: 0in; line-height: 100%">buy 1 piece of
3/4ths inch 5’ by 4’ plywood</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%">build an incubation
tank to keep the plant soil warm. 
</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%">Dear Beer guy, are
you <b>brewing </b><b>beer </b>today, <b>circulating</b>, running
<b>gravity tests</b>, <b>kegging</b>, <b>bottling</b>, or looking
into the <b>archive</b>?</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%"><b>Brewing beer </b>
</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%">	10 gal speed route.</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%">Clean your pot and
get 12.5 gallons on the fire quick!</p>
<p style="margin-bottom: 0in; line-height: 100%">Fill the metal mesh
with your 3.6 lbs of grain</p>
<p style="margin-bottom: 0in; line-height: 100%">get your hops in
there early (you’ve shown that you dont like the taste of
completely unhoppy beer).</p>
<p style="margin-bottom: 0in; line-height: 100%">Take em out, let
them drain</p>
<p style="margin-bottom: 0in; line-height: 100%">Add in your DME
sugars (they get sticky with air and will stick to the bag… you can
fix this</p>
<p style="margin-bottom: 0in; line-height: 100%">Let it boil down to
the 10 gal line. (sanitize all following things during this step)</p>
<p style="margin-bottom: 0in; line-height: 100%">Cool it off. 
</p>
<p style="margin-bottom: 0in; line-height: 100%">Throw in your
yeast.<br/>
Stir. <br/>
Lift the pot so it’s bottom is above the
halfway mark of your star-san cleaned 5 gallon bottles. 
</p>
<p style="margin-bottom: 0in; line-height: 100%">Make sure your
tubing is 2-3 times the height of the pot. <br/>
Siphon the beer in
the pot to the fermenter, but pinch the line when the 5 gal fermenter
is 3/4ths full. Move onto filling the next 5 gal bucket. Dont pour
out everything from the pot! Save some for your sample!</p>
<p style="margin-bottom: 0in; line-height: 100%">When you’re done
filling your fermenters, put the caps on them as well as the
airlocks.<br/>
Take your sample and get ready to do your first
<b>gravity test</b><span style="font-weight: normal">.</span></p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%"><b>Circulating</b></p>
<p style="margin-bottom: 0in; font-weight: normal; line-height: 100%">
Get your 5 gallon fermenters and uncover the carboy shield and the
light shield. Tilt the containers around slowly at first and then
vigorously enough for the settled yeast on the bottom to get
suspended back in the entire mixture again. Some little (size of a
cut of a toothpick) white spots are fine, but if you start seeing
different colored molds, or a thick layer on top (the mother from
vinegar) you’ve messed up. Once the yeast is suspended in the rest
of the liquid, not just the bottom, cover them back with their light
shield and their warmth/carboy sheild and set them back in their
proper places. If your process doesnt create anymore carbonation
bubbles, your beer may be finished fermenting and you can move onto
kegging/bottling.  
</p>
<p style="margin-bottom: 0in; font-weight: normal; line-height: 100%">
<br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%"><b>Gravity Tests</b></p>
<p style="margin-bottom: 0in; font-weight: normal; line-height: 100%">
Today should either be <b>brewing day</b>, or <b>kegging day. </b> If
it is brewing day, take a small sample of your beer, pour it into the
graduated cylinder and record the number that it is at. This is the
before number which tells you the density of the liquid without
alcohol in it. <br/>
If it is kegging day, after you funnel/siphon
the majority of the mixture from the fermenter into the kegs, take
some of the liquid and do the same thing again. Record the number and
look at the difference. Follow the chart on the tool to help you
figure out the level of alcohol that is in the beer. 
</p>
<p style="margin-bottom: 0in; font-weight: normal; line-height: 100%">
<br/>

</p>
<p style="margin-bottom: 0in; font-weight: normal; line-height: 100%">
<b>Kegging</b></p>
<p style="margin-bottom: 0in; font-weight: normal; line-height: 100%">
OH THE EXCITEMENT.</p>
<p style="margin-bottom: 0in; font-weight: normal; line-height: 100%">
Take your fermenters out gently! There should be a thick layer of
yeast at the bottom. Get your tubing ready. Use a marker or cleanly
mark the end of the tubing (which should be 2.5x to 3x the height of
the fermenter so you can see when the wort is close to the tip of the
end of the tubing. Raise your fermenter so that the yeast line is
higher than the top of the keg. You’re going to use the tubing
using a useful property of how a siphon works. Pay attention.</p>
<p style="margin-bottom: 0in; font-weight: normal; line-height: 100%">
Submerge the tubing line completely in the cleaning solution or water
(after it’s been star-san’d). ensure that all bubbles are out of
the line. Use your thumb to stop both ends of the line under the
liquid (like you could do with a straw to keep all the liquid in the
straw). <br/>
The next motion must be swift and timely. Put the
unmarked end at the top of the keg. Put the marked end close to the
top of the fermenter. Swiftly release the vaccuum on the hand close
to the top of the fementer while lowering down that line into the
fermenter, holding tight the line by the top of the keg. <br/>
There
is some excess liquid (water or star san) in the line. You can
release this liquid safely into your beer, or you can let it spill to
the side. As the line fills with the uncarbonated beer ensure that
this flow is driven into the keg. Keep the keg part of the tubing
lower than the yeast level of the uncarbonated beer. Keep an eye on
your marker in the fermenter as the beer funnels into the keg. You do
not want any yeast making it’s way into the keg.<br/>
Pinch the
tubing to stop the flow if the keg is about to be filled. <br/>
When
the keg is filled, take the yeast and agitate it like you did in the
circulating step and bottle it. Put it in the fridge if you wont use
it for the next 2-3 days. It will last for 4 months. It will be what
you make your next consistent brew out of. 
</p>
<p style="margin-bottom: 0in; font-weight: normal; line-height: 100%">
Close off your keg with the proper rubber fittings in place and
ensure that you mark which of the lines has the long tubing and the
short tubing on it. Connect the Carbonation tank to the side with the
long tubing after you place all the fittings accordingly. I suggest a
pressure of 8-14 PSI for low to moderate carbonation. You can rush
carbonate but I dont suggest it. Rush carbonation will result in very
foamy head on pour. To rush carbonate, set the pressure to 16-20 PSI.
</p>
<p style="margin-bottom: 0in; font-weight: normal; line-height: 100%">
Your last task is to follow the steps for g<b>ravity testing </b>on
<b>kegging day</b>. 
</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%"><b>Bottling</b></p>
<p style="margin-bottom: 0in; font-weight: normal; line-height: 100%">
Our bottling process isnt perfect yet but we have some guides! I
suggest using a dark colored bottle (preferrably the Grolsh bottles)
to prevent skunking (change in smell and taste due to sunlight) of
the beer. Use a siphon from the fermenter to fill the bottle to
3/4ths full. I suggest stopping as soon as the beer fills to the neck
of the bottle. Drop in a carbonation pellet and let sit for 1 day.
Rotate each day to make sure the carbonation pellet fully dissolves.
Be careful! These bottles will have quite a bit of pressure to them.
One bottle was reported to have 40 pounds of pressure!</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%"><b>Archive</b></p>
<p style="margin-bottom: 0in; font-weight: normal; line-height: 100%">
Batch 4 
</p>
<p style="margin-bottom: 0in; font-weight: normal; line-height: 100%">
6.4 lbs total(</p>
<p style="margin-bottom: 0in; font-weight: normal; line-height: 100%">
1.2 lbs each of 
</p>
<p style="margin-bottom: 0in; font-weight: normal; line-height: 100%">
Distillers malt 
</p>
<p style="margin-bottom: 0in; font-weight: normal; line-height: 100%">
2 row brewers malt</p>
<p style="margin-bottom: 0in; font-weight: normal; line-height: 100%">
Special roast breiss)</p>
<p style="margin-bottom: 0in; font-weight: normal; line-height: 100%">
Fermented sept 20</p>
<p style="margin-bottom: 0in; font-weight: normal; line-height: 100%">
--------</p>
<p style="margin-bottom: 0in; font-weight: normal; line-height: 100%">
Batch 2 
</p>
<p style="margin-bottom: 0in; font-weight: normal; line-height: 100%">
Ingredients: 
</p>
<p style="margin-bottom: 0in; font-weight: normal; line-height: 100%">
1.2 6 row high diastatic</p>
<p style="margin-bottom: 0in; font-weight: normal; line-height: 100%">
I.2 6 row.</p>
<p style="margin-bottom: 0in; font-weight: normal; line-height: 100%">
1.2 2 row</p>
<p style="margin-bottom: 0in; font-weight: normal; line-height: 100%">
12.5 gallons of water</p>
<p style="margin-bottom: 0in; font-weight: normal; line-height: 100%">
10 lbs cbw Pilsen light dry malt extract 
</p>
<p style="margin-bottom: 0in; font-weight: normal; line-height: 100%">
<br/>

</p>
<p style="margin-bottom: 0in; font-weight: normal; line-height: 100%">
Expected:</p>
<p style="margin-bottom: 0in; font-weight: normal; line-height: 100%">
10 gallons to be made</p>
<p style="margin-bottom: 0in; font-weight: normal; line-height: 100%">
<br/>

</p>
<p style="margin-bottom: 0in; font-weight: normal; line-height: 100%">
<br/>

</p>
<p style="margin-bottom: 0in; font-weight: normal; line-height: 100%">
Steeped grains for 1 hour. 
</p>
<p style="margin-bottom: 0in; font-weight: normal; line-height: 100%">
<br/>

</p>
<p style="margin-bottom: 0in; font-weight: normal; line-height: 100%">
Temp at 154 
</p>
<p style="margin-bottom: 0in; font-weight: normal; line-height: 100%">
We had a boil over</p>
<p style="margin-bottom: 0in; font-weight: normal; line-height: 100%">
Watch for temp of top vs temp of bottom with gun. If you see boiling
underneath. Be careful. 
</p>
<p style="margin-bottom: 0in; font-weight: normal; line-height: 100%">
<br/>

</p>
<p style="margin-bottom: 0in; font-weight: normal; line-height: 100%">
Kegged August 16</p>
<p style="margin-bottom: 0in; font-weight: normal; line-height: 100%">
<br/>

</p>
<p style="margin-bottom: 0in; font-weight: normal; line-height: 100%">
Batch 3. Peter pack</p>
<p style="margin-bottom: 0in; font-weight: normal; line-height: 100%">
Brewing October 11 
</p>
<p style="margin-bottom: 0in; font-weight: normal; line-height: 100%">
<br/>

</p>
<p style="margin-bottom: 0in; font-weight: normal; line-height: 100%">
Ingredients: 
</p>
<p style="margin-bottom: 0in; font-weight: normal; line-height: 100%">
1.2 6 row high diastatic</p>
<p style="margin-bottom: 0in; font-weight: normal; line-height: 100%">
I.2 6 row.</p>
<p style="margin-bottom: 0in; font-weight: normal; line-height: 100%">
1.2 2 row</p>
<p style="margin-bottom: 0in; font-weight: normal; line-height: 100%">
12.5 gallons of water</p>
<p style="margin-bottom: 0in; font-weight: normal; line-height: 100%">
10 lbs cbw Pilsen light dry malt extract 
</p>
<p style="margin-bottom: 0in; font-weight: normal; line-height: 100%">
10 gals expected</p>
<p style="margin-bottom: 0in; font-weight: normal; line-height: 100%">
<br/>

</p>
<p style="margin-bottom: 0in; font-weight: normal; line-height: 100%">
Notes: two pots instead of one, grain packages had to be split. 
</p>
<p style="margin-bottom: 0in; font-weight: normal; line-height: 100%">
<br/>

</p>
<p style="margin-bottom: 0in; font-weight: normal; line-height: 100%">
White labs 
</p>
<p style="margin-bottom: 0in; font-weight: normal; line-height: 100%">
<br/>

</p>
</body>
</html>