<h1>Welcome#CreditCardSystem</h1>
<p>Find me in app/views/welcome/CreditCardSystem.html.erb</p>
javascript goals.


1. create classes of objects. <br>
  <b>accounts</b> must be unique
  <br>

  <br>
  2. create actions
  <br>
  withdraw
  <br>
  deposit
  <br>
  overdraft charge
  <br>
  manual change
<br>
