<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
	<title></title>
	<meta name="generator" content="LibreOffice 5.1.6.2 (Linux)"/>
	<meta name="created" content="2019-02-14T11:32:34.886941233"/>
	<meta name="changed" content="2019-02-14T13:03:31.894883430"/>
	<style type="text/css">
		@page { margin: 0.79in }
		p { margin-bottom: 0.1in; line-height: 120% }
		a:link { so-language: zxx }
	</style>
</head>
<body lang="en-US" dir="ltr">
<p align="center" style="margin-bottom: 0in; border-top: none; border-bottom: 1px solid #000000; border-left: none; border-right: none; padding-top: 0in; padding-bottom: 0.03in; padding-left: 0in; padding-right: 0in; line-height: 100%">
Customer Ticket</p>
<form action="https://getsimpleform.com/messages?form_api_token=1bdb23c5f9b05cff2bc0f947431a3b9e" method="post">
  <!-- the redirect_to is optional, the form will redirect to the referrer on submission -->
  <!-- <input type='hidden' name='redirect_to' value='<the complete return url e.g. http://fooey.com/thank-you.html>' /> -->
  <!-- all your input fields here.... -->

<p style="margin-bottom: 0in; line-height: 100%">Name <input type='text' name='customer_name' />
</p>
<p style="margin-bottom: 0in; line-height: 100%">Number <input type='text' name='number' />
</p>
<p style="margin-bottom: 0in; line-height: 100%">Address <input type='text' name='address' placeholder="Address, City, State, Zip, Floor, Suite/APT"/>
</p>
<p style="margin-bottom: 0in; line-height: 100%">Issue:
	<input type='text' name='issue' />
</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%">Payment choice:
Venmo, Coinbase Crypto, Paypal, Cash, Credit Card
<input type='text' name='payment_type' />
</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%">Instant Quote based
on <a href="http://techit.herokuapp.com/welcome/pricing">http://techit.herokuapp.com/welcome/pricing</a>
</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%">Customer Discount
Code
<input type='text' name='customer_discount_code' />
</p>
<p align="center" style="margin-bottom: 0in; border-top: none; border-bottom: 1px solid #000000; border-left: none; border-right: none; padding-top: 0in; padding-bottom: 0.03in; padding-left: 0in; padding-right: 0in; line-height: 100%">
<br/>

</p>
<input type='submit' value='Submit Request' />
</form>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
</body>
</html>
