<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
	<title></title>
	<meta name="generator" content="LibreOffice 6.4.7.2 (Linux)"/>
	<meta name="created" content="2021-06-09T13:27:03.233836809"/>
	<meta name="changed" content="2021-06-10T10:40:37.363530262"/>
	<style type="text/css">
		@page { size: 8.5in 11in; margin: 0.79in }
		p { margin-bottom: 0.1in; line-height: 115%; background: transparent }
		a:link { color: #000080; so-language: zxx; text-decoration: underline }
		a:visited { color: #800000; so-language: zxx; text-decoration: underline }
	</style>
</head>
<body lang="en-US" link="#000080" vlink="#800000" dir="ltr"><p align="center" style="margin-bottom: 0in; line-height: 100%">
Etrade Acceptable Use Agreement</p>
<p style="margin-bottom: 0in; line-height: 100%">Date: _____________</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%">This agreement is to
determine the acceptable use and distribution of profits concerning
the authorizer’s E*trade account. 
</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%">The information that
the authorizer shares with Vedabrat Etwaru is to be kept
confidential. 
</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%">Vedabrat A Etwaru
does not guarantee any gains, losses, or steadiness of value within
the account.</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%">Passwords are not to
change without either party’s consent and forewarning.</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%">Ultimate liability
of keeping the account in good standing is the duty of the
authorizer. 
</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%">Authorizer is
willing to provide information to advance the account.</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%">The authorizer
understands that there risks associated with financial instruments
and accepts Vedabrat Etwaru’s financial guidance and executions for
a yearly fixed fee or percentage of gains to be agreed upon. This fee
will be notified a week before being deposited and will be adequately
revised to keep  interest and due diligence at a mutually beneficial
level.</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%">Requests to transfer
value to and from the account will be planned and agreed upon by both
parties. 
</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%">This account</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%">I,
_____________________ authorize Vedabrat Etwaru and any of his
associates to the use of my Etrade account as set forth in the terms
described in this document. This authorization serves as an
E-signature.</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
</body>
</html>