
<body lang="en-US" link="#000080" vlink="#800000" dir="ltr"><p align="center" style="margin-bottom: 0in; line-height: 100%">
Etrade Acceptable Use Agreement</p>
<p style="margin-bottom: 0in; line-height: 100%">Date: <%= Date.today %>
</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%">This agreement is to
determine the acceptable use and distribution of profits concerning
the authorizer’s E*trade account.
</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%">The information that
the authorizer shares with Vedabrat Etwaru is to be kept
confidential.
</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%">Vedabrat A Etwaru
does not guarantee any gains, losses, or steadiness of value within
the account.</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%">Passwords are not to
change without either party’s consent and forewarning.</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%">Ultimate liability
of keeping the account in good standing is the duty of the
authorizer.
</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%">Authorizer is
willing to provide information to advance the account.</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%">The authorizer
understands the risks (probabilistic value) associated with financial instruments
and accepts Vedabrat Etwaru’s financial guidance and executions for
a yearly fixed fee of 30% on the yearly gain on accounts of less than $30,000
in principal. This fee
will be notified and deducted one week after the yearly anniversary of the account.
Annual fees for accounts above $1,000,000 may be reduced to keep interest and due diligence at a mutually beneficial
level.</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%">Requests to transfer
value to and from the account will be planned and agreed upon by both
parties.
</p>
<p style="margin-bottom: 0in; line-height: 100%">
	The authorizing party will handle taxes on the account.
	Tax documents are accessible on E*trade.
	<br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%"></p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%">By clicking submit, I,
_____________________ authorize Vedabrat Etwaru and any of his
associates to the use of my Etrade account as set forth in the terms
described in this document. This authorization serves as an
E-signature.</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
</body>
