
<body lang="en-US" link="#000080" vlink="#800000" dir="ltr"><p style="font-variant: normal; letter-spacing: normal; font-style: normal">
<font face="Arial, Helvetica, sans-serif"><b>Name. Date. Signature&nbsp;</b></font></p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">Voiding
terms.&nbsp;&nbsp;</font></font></p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">_____</font></font></p>
<p style="orphans: 2; widows: 2"><span style="font-variant: normal"><font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt"><span style="letter-spacing: normal"><span style="font-style: normal"><span style="font-weight: normal">Rectifying
terms</span></span></span></font></font></span></p>
<p style="orphans: 2; widows: 2">___</p>
<p style="orphans: 2; widows: 2"><br/>
<br/>

</p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">I,
the undersigned, consent for intimate, sexual, physical, and
emotional interaction with Vedabrat Anand Etwaru (for the next
1/3/6/12/24 hours/days to be used for orgasmal and erotic purposes to
the satiation of dreams, fantasies, and pleasure.&nbsp;</font></font></p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">I
understand that submitting this form is consent and acknowledgement
to engage in intimate activity. I will do my best to be aware and
communicative of my physical health throughout the experience and
warn of any adverse outcomes or omens that might be a risk towards
both parties.&nbsp;</font></font></p>
<p style="orphans: 2; widows: 2"><br/>
<br/>

</p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">Phone
number__________</font></font></p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">Address
___________</font></font></p>
<p style="orphans: 2; widows: 2"><br/>
<br/>

</p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">I
understand that upon clicking submit, if an entered negotiation is
accepted, all actions and situations heretofore are permitted by me,
the undersigned, until breach of this agreement. Financial
obligations are barred from this agreement.&nbsp;</font></font></p>
<p style="orphans: 2; widows: 2"><br/>
<br/>

</p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">Negotiation
Terms ____________________________</font></font></p>
<p style="orphans: 2; widows: 2"><br/>
<br/>

</p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">Blindfolds
</font></font>
</p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">Bondage
(heavy) </font></font>
</p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">Bondage
(light) </font></font>
</p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">Immobilisation&nbsp;
</font></font>
</p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">Bondage
(multi-day)&nbsp; </font></font>
</p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">Bondage
(public, under clothing) </font></font>
</p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">Leather
restraints&nbsp; </font></font>
</p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">Chains
</font></font>
</p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">Ropes
</font></font>
</p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">Intricate
(Japanese) rope bondage&nbsp; </font></font>
</p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">Rope
body harness&nbsp; </font></font>
</p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">Arm
&amp; leg sleeves (armbinders)&nbsp; </font></font>
</p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">Harnesses
(leather)&nbsp; </font></font>
</p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">Harnesses
(rope) </font></font>
</p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">Cuffs
(leather) </font></font>
</p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">Cuffs
(metal) </font></font>
</p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">Manacles
&amp; Irons </font></font>
</p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">Gags
(cloth)&nbsp; </font></font>
</p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">Gags
(rubber) </font></font>
</p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">Gags
(tape) </font></font>
</p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">Gags
(phallic) </font></font>
</p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">Gags
(ring) </font></font>
</p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">Gags
(ball) </font></font>
</p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">Mouth
bits </font></font>
</p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">Full
head hoods&nbsp; </font></font>
</p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">Mummification/saran
wrapping </font></font>
</p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">Straight
jackets </font></font>
</p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">Suspension
(upright)&nbsp; </font></font>
</p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">Suspension
(horizontal)&nbsp; </font></font>
</p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">Suspension
(inverted) </font></font>
</p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">Impact/Percussion
</font></font>
</p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">Activity
Experience Limits/Interest Comments&nbsp;</font></font></p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">Spanking
</font></font>
</p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">Flogging&nbsp;
</font></font>
</p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">Single-tail
whips&nbsp; </font></font>
</p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">Canes&nbsp;
</font></font>
</p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">Belts
</font></font>
</p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">Leather
straps </font></font>
</p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">Riding
crops </font></font>
</p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">Hairbrushes
</font></font>
</p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">Wooden
paddles </font></font>
</p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">Slapping
(back, buttocks, breasts, genitals)&nbsp; </font></font>
</p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">Strapping
(full body beating) </font></font>
</p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">Hair
pulling </font></font>
</p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">Face
slapping&nbsp; </font></font>
</p>
<p style="orphans: 2; widows: 2"><br/>
<br/>

</p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">Sexual
Activity </font></font>
</p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">Activity
Experience Limits/Interest Comments&nbsp;</font></font></p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">Fellatio/Cunnilingus
</font></font>
</p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">Swallowing
semen </font></font>
</p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">Cumming
on Partner </font></font>
</p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">Hand
jobs </font></font>
</p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">Anal
sex </font></font>
</p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">Anal
plugs (small) </font></font>
</p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">Anal
plugs (large) </font></font>
</p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">Anal
plug (public, under clothes) </font></font>
</p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">Anal
beads </font></font>
</p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">Vibrator
on genitals </font></font>
</p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">Masturbation
</font></font>
</p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">Fisting
</font></font>
</p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">Oral/anal
play (rimming) </font></font>
</p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">Double
penetration (oral and anal) </font></font>
</p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">Double
penetration (anal and vaginal) </font></font>
</p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">Triple
(oral and anal) </font></font>
</p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">Forced
masturbation </font></font>
</p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">Phone
sex (with partner) </font></font>
</p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">Phone
sex (with others) </font></font>
</p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">Group
Sex </font></font>
</p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">Outdoor
sex </font></font>
</p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">Orgasm
control </font></font>
</p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">Breeding</font></font></p>
<p style="orphans: 2; widows: 2"><br/>
<br/>

</p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">Sensation
Play </font></font>
</p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">Activity
Experience Limits/Interest Comments&nbsp;</font></font></p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">Abrasion
</font></font>
</p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">Scratching
</font></font>
</p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">Biting
</font></font>
</p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">Tickling
</font></font>
</p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">Kissing
/hickies</font></font></p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">Zapping
(e.g. elecric fly swatter) </font></font>
</p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">Ice
cubes </font></font>
</p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">Wax
Play </font></font>
</p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">Clothespins
</font></font>
</p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">Massaging&nbsp;</font></font></p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">Tantric</font></font></p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">Ear
licking.&nbsp;</font></font></p>
<p style="font-variant: normal; letter-spacing: normal; orphans: 2; widows: 2">
&nbsp;</p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">Breath
Play </font></font>
</p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">Activity
Experience Limits/Interest Comments&nbsp;</font></font></p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">Asphyxiation
</font></font>
</p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">Breath
control </font></font>
</p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">Choking
</font></font>
</p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">Growling/yelping</font></font></p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">Humiliation
</font></font>
</p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">Activity
Experience Limits/Interest Comments&nbsp;</font></font></p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">Teasing
</font></font>
</p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">Humiliation
(private) </font></font>
</p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">Humiliation
(public) </font></font>
</p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">Verbal
humiliation </font></font>
</p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">Spitting
</font></font>
</p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">Washing
mouth out with soap </font></font>
</p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">Objectification
(art, furniture...) </font></font>
</p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">Shaving
(body hair) </font></font>
</p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">Sexy
clothing (private) </font></font>
</p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">Sexy
clothing (public) </font></font>
</p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">Outdoor
scenes </font></font>
</p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">Name
calling</font></font></p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">Public
exposure </font></font>
</p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">Body
Part Torture </font></font>
</p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">Activity
Experience Limits/Interest Comments&nbsp;</font></font></p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">Nipple
clips </font></font>
</p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">Nipple
weights </font></font>
</p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">Nipple
suction cups </font></font>
</p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">Fetishes
</font></font>
</p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">Activity
Activity Activity Activity</font></font></p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">Feet
</font></font>
</p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">Boots
</font></font>
</p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">Underwear
</font></font>
</p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">Chastity
devices </font></font>
</p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">Masks
</font></font>
</p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">Leather
clothing </font></font>
</p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">Predator/prey
animalistic</font></font></p>
<p style="orphans: 2; widows: 2"><br/>
<br/>

</p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">Roleplaying
</font></font>
</p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">Activity
Experience Limits/Interest Comments&nbsp;</font></font></p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">Fear
play </font></font>
</p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">Fantasy
abandonment </font></font>
</p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">Kidnapping
</font></font>
</p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">Interrogation
</font></font>
</p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">Sleep
deprivation </font></font>
</p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">Rape
</font></font>
</p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">Gang
bang </font></font>
</p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">Initiation
rites </font></font>
</p>
<p style="orphans: 2; widows: 2"><br/>
<br/>

</p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">Succubus
role play&nbsp;</font></font></p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">Cocksleeve
role play</font></font></p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">Breeding
role play&nbsp;</font></font></p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">Slave
role play</font></font></p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">Wild
animal role play</font></font></p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">Tame
animal role play&nbsp;</font></font></p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">Predator
prey&nbsp;</font></font></p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">Obedience
training.&nbsp;</font></font></p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">Time
trial edging.&nbsp;</font></font></p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">Anal
cream pie.&nbsp;</font></font></p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">Track
down cnc&nbsp;</font></font></p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">Vaginal
insemination.&nbsp;</font></font></p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">Story
role play&nbsp;</font></font></p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">Video
role play&nbsp;</font></font></p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">Romance
role play</font></font></p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">Gangbang
role play</font></font></p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">Glory
hole access</font></font></p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">Religious
scenes </font></font>
</p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">Medical
scenes </font></font>
</p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">Prison
scenes </font></font>
</p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">Schoolroom
scenes</font></font></p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">Ownership
</font></font>
</p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">Service
and Restrictive Behaviour </font></font>
</p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">Activity
Experience Limits/Interest Comments&nbsp;</font></font></p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">Following
orders </font></font>
</p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">Forced
servitude </font></font>
</p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">Restrictive
rules on behaviour </font></font>
</p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">Eye
contact restrictions </font></font>
</p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">Speech
restrictions (when, what, to whom) </font></font>
</p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">Washroom
restrictions </font></font>
</p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">Kneeling
</font></font>
</p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">Begging
</font></font>
</p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">Standing
in corner </font></font>
</p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">Learned
postures </font></font>
</p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">Rituals
</font></font>
</p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">Massage
</font></font>
</p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">Voyeurism/Exhibitionism
</font></font>
</p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">Activity
Experience Limits/Interest Comments&nbsp;</font></font></p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">Forced
nudity (private) </font></font>
</p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">Forced
nudity (around others) </font></font>
</p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">Exhibitionism
(friends) </font></font>
</p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">Exhibitionism
(strangers) </font></font>
</p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">Modelling
for erotic photos </font></font>
</p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">Video
(watching others) </font></font>
</p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">Video
(recordings of you) </font></font>
</p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">Voyeurism
(watching others) </font></font>
</p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">Voyeurism
(your Dom w/others) </font></font>
</p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">Bodily
Fluids and Functions </font></font>
</p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">Activity
Experience Limits/Interest Comments&nbsp;</font></font></p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">Watersports/golden
showers </font></font>
</p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">Cum
play</font></font></p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">Face
fucking</font></font></p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">Onlyfans
content</font></font></p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">Chiropractic
treatment.&nbsp;</font></font></p>
<p style="orphans: 2; widows: 2"><br/>
<br/>

</p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">Fantasy/forward&nbsp;</font></font></p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">2-week</font></font></p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">1-month</font></font></p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">6-month</font></font></p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">1-year
relationship</font></font></p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">2-year
relationship&nbsp;</font></font></p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">Moving
in together</font></font></p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">2
year marriage play</font></font></p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">Child
rearing.&nbsp;</font></font></p>
<p style="orphans: 2; widows: 2"><br/>
<br/>

</p>
<p style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
<font face="Arial, Helvetica, sans-serif"><font size="3" style="font-size: 12pt">It
is expected that both parties will remain in earnest good standing
throughout their lives and that this agreement will bond a long term
open relationship. This is not guaranteed as acts of malice oraccident, or god may cause  degradation of human faculties, and should be weighed on a mutually benefial interest </font></font></p>
<p><br/>
<br/>
<br/>

</p>
</body>
