<h2>
    NY/NJ Guyanese Hindu Funeral Support
</h2>
<br>
How were you related to the deceased? <select class="" name="">
<option value="immediateFamily">Immediate Family</option> <option value="relative">Relative</option>
</select>
<br>What is their full name? <input type="text">
<br>
When did they pass? <input type="text" name="" value="">
<br>
<button type="button" name="button" onclick="wakeShow()">Set Wake Details</button>
<br>
<div id="wake" hidden="true" class="">

    <h3>
        Wake <br>
    </h3>
    Time:
    <input type="text">
    <br>
    Address:
    <input type="text">
    <br>
    City
    <input type="text">
    <br>
    State
    <input type="text">
    <button type="button" id="wakeset" onclick="setWake()">Set</button>
    <br>
</div>


<button type="button" name="button" onclick="funeralShow()">Set Funeral Details</button>
<br>
<div id="funeral" hidden="true" class="">

    <h3>
        Funeral<br>
    </h3>
    Time:
    <input type="text">
    <br>
    Address:
    <input type="text">
    <br>
    City
    <input type="text">
    <br>
    State
    <input type="text">
    <button type="button" id="funeralSet" onclick="setFuneral()">Set</button>
    <br>
</div>

They are
<select class="selector" name="religion">
    <option value="Arya Samaj">Arya Samaji</option>
    <option value="Sanatan">Sanatan</option>
</select>
<br>
<br>
pick a Pandit
<button type="button" id="availPandits" onclick="availPanditShow()">Show available pandits</button>
<div id="panditsAvailable" hidden="true">

</div>
<button onclick="panditopen()" type="button" name="button"> Add yourself as a Pandit </button>
<div id="pandit" hidden=true>

    <br>Name:<input type="text" id="panditname">
    <br>Number:<input type="text" id="panditnumber">
    <br>Type:
    <select class="selector" name="religion" id="panditType">
        <option value="Sanatan">Sanatan</option>
        <option value="Arya Samaj">Arya Samaj</option>
    </select>
    <br>Address:<input type="text" id="panditAddress">
    <button type="button" id="panditaddbutton" onclick="panditadd()">Add Me</button>
</div>

<br>
pick your musicians
<button type="button" id="pickMusician" onclick="musicianshow()">Show Musicians</button>

<button type="button" name="musicianadd" onclick="musicianopen()">Add yourself as a musician</button>
<div class="" id="music" hidden="true">
    <br>Name:<input type="text" id="musicianname">
    <br>Number:<input type="text" id="musiciannumber">
    <br>Address: <input type="text" id="musicianAddress">
    <br>Instrument:<input type="text" id="musicianinstrument">
    <br>Yrs Exp <input type="text" name="exp" id="musicianyearsexp">
    <button type="button" onclick="addmusician()" name="button">Add Me</button>
    <button type="button" name="view" hidden="true" id="musicianarray">Musician view</button>
</div>
<div class="" id="musicppl">

</div>
<br>
pick your food places <button type="button" name="catererfood">Add to cater food</button>
<br>
Pick a host/speaker
<br>
who is hosting the wake? What days will the wake be held?
<br>
Who should we alert?
<br>
<script type="text/javascript">

var musicianinfo = [];
var musicianCount = 0;
var pandit = [];
var panditcount = 0;

function panditopen(){
  document.getElementById('pandit').hidden = false;
}
function musicianopen(){
  document.getElementById('music').hidden = false;
}
function wakeShow(){
  document.getElementById('wake').hidden = false;
}
function setWake(){
  document.getElementById('wake').hidden = true;
}
function funeralShow(){
  document.getElementById('funeral').hidden = false;
}
function setFuneral(){
  document.getElementById('funeral').hidden = true;
}
function panditadd() {
  pandit[panditcount] += [document.getElementById('panditname').value];
  panditcount++;
  document.getElementById('pandit').hidden = true;
  console.log(pandit);
}
function expand(){
  (document.getElementById('valsnotes').hidden == false)?(document.getElementById('valsnotes').hidden = true):(document.getElementById('valsnotes').hidden = false);
}
function developer(){

}
developer();
function availPanditShow(){
    document.getElementById('panditsAvailable').innerHTML = pandit ;
    document.getElementById('availPandits').innerHTML = "Show Available Pandits";
    if (document.getElementById('panditsAvailable').hidden == false){
      document.getElementById('panditsAvailable').hidden = true;
    }else{
      document.getElementById('panditsAvailable').hidden = false;
    }
}
function addmusician(){
      musicianinfo[musicianCount] += [document.getElementById('musicianname').value];
      musicianCount++;
      console.log (musicianinfo);
      document.getElementById('music').hidden = true;
}
function musicianshow(){
  document.getElementById('musicppl').innerHTML = musicianinfo;
  document.getElementById('pickMusician').innerHTML = "Show Available Musicians";
  if (document.getElementById('musicppl').hidden == false){
    document.getElementById('musicppl').hidden = true;
  }else{
    document.getElementById('musicppl').hidden = false;
  }
}

var utc = new Date().toJSON().slice(0,10).replace(/-/g,'/');
document.write(utc);
</script>
