<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
	<title></title>
	<meta name="generator" content="LibreOffice 6.4.6.2 (Linux)"/>
	<meta name="created" content="2021-03-07T13:03:12.301591285"/>
	<meta name="changed" content="2021-03-18T23:03:39.139828883"/>
	<style type="text/css">
		@page { size: 8.5in 11in; margin: 0.79in }
		p { margin-bottom: 0.1in; line-height: 115%; background: transparent }
		a:link { color: #000080; so-language: zxx; text-decoration: underline }
		a:visited { color: #800000; so-language: zxx; text-decoration: underline }
	</style>
</head>
<body lang="en-US" link="#000080" vlink="#800000" dir="ltr"><p style="margin-bottom: 0in; line-height: 100%">
 
</p>
	<br> Lesson 1 </br>
<p style="margin-bottom: 0in; line-height: 100%">s r g m p d n s</p>
<p style="margin-bottom: 0in; line-height: 100%">s n d p m g r s 
</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
	<br> Lesson 2 </br>
<p style="margin-bottom: 0in; line-height: 100%">s s r r g g m m p p
d d n n s s 
</p>
<p style="margin-bottom: 0in; line-height: 100%">s s n n d d p p m m
g g r r s s 
</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
	<br> Lesson 3 </br>

<p style="margin-bottom: 0in; line-height: 100%">s s s r r r g g g m
m m p p p d d d n n n s s s 
</p>
<p style="margin-bottom: 0in; line-height: 100%">s s s n n n d d d p
p p m m m g g g r r r s s s 
</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
	<br> Lesson 4 </br>
<p style="margin-bottom: 0in; line-height: 100%">s s s s r r r r g g
g g m m m m p p p p d d d d n n n n s s s s 
</p>
<p style="margin-bottom: 0in; line-height: 100%">s s s s n n n n d d
d d p p p p m m m m g g g g r r r r s s s s 
</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
	<br> Lesson 5</br>
<p style="margin-bottom: 0in; line-height: 100%">s s sss r r rrr g g
ggg m m mmm p p ppp d d ddd n n nnn s s sss</p>
<p style="margin-bottom: 0in; line-height: 100%">s s sss n n nnn d d
ddd p p ppp m m mmm g g ggg r r rrr s s sss</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
	<br> Lesson 6</br>
<p style="margin-bottom: 0in; line-height: 100%">sr gm pd ns</p>
<p style="margin-bottom: 0in; line-height: 100%">sn dp mg rs</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
	<br> Lesson 7</br>
<p style="margin-bottom: 0in; line-height: 100%">ssrs  rrgr ggmg mmpm
ppdp ddnd nnsn ssrs</p>
<p style="margin-bottom: 0in; line-height: 100%">ssns nndn ddpd ppmp
mmgm ggrg rrsr ssns</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
	<br> Lesson 8</br>
<p style="margin-bottom: 0in; line-height: 100%">srsrg rgrgm gmgmp
mpmpd pdpdn dndns</p>
<p style="margin-bottom: 0in; line-height: 100%">snsnd ndndp dpdpm
pmpmg mgmgr grgrs</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
	<br> Lesson 9</br>
<p style="margin-bottom: 0in; line-height: 100%">srg rgm gmp mpd pdn
dns 
</p>
<p style="margin-bottom: 0in; line-height: 100%">snd ndm dpm pmg mgr
grs</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
	<br> Lesson 10</br>
<p style="margin-bottom: 0in; line-height: 100%">srgm rgmp gmpd mpdn
pdns</p>
<p style="margin-bottom: 0in; line-height: 100%">sndp ndpm dpmg pmgr
mgrs</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
	<br> Lesson 11</br>
<p style="margin-bottom: 0in; line-height: 100%">srgmp rgmpd gmpdn
mpdns</p>
<p style="margin-bottom: 0in; line-height: 100%">sndpm ndpmg dpmgr
pmgrs</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
	<br> Lesson 12</br>
<p style="margin-bottom: 0in; line-height: 100%">srgmpd rgmpdn gmpdns</p>
<p style="margin-bottom: 0in; line-height: 100%">sndpmg ndpmgr dpmgrs</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
	<br> Lesson 13</br>
<p style="margin-bottom: 0in; line-height: 100%">srgmpdn rgmpdns</p>
<p style="margin-bottom: 0in; line-height: 100%">sndpmgr ndpmgrs</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
	<br> Lesson 14</br>
<p style="margin-bottom: 0in; line-height: 100%">s g r m g p m d p n
d s 
</p>
<p style="margin-bottom: 0in; line-height: 100%">s d  n p d m p g m r
g s 
</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
	<br> Lesson 15</br>
<p style="margin-bottom: 0in; line-height: 100%">s s g g r r m m g g
p p m m d d p p n n d d s s 
</p>
<p style="margin-bottom: 0in; line-height: 100%">s s d d n n p p d d
m m p p g g m m r r g g s s</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
	<br> Lesson 16</br>
<p style="margin-bottom: 0in; line-height: 100%">s s s g g g r r r m
m m g g g p p p m m m d d d p p p n n n d d d s s s</p>
<p style="margin-bottom: 0in; line-height: 100%">s s s d d d n n n p
p p d d d m m m p p p g g g m m m r r r g g g s s s</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
	<br> Lesson 17</br>
<p style="margin-bottom: 0in; line-height: 100%">s s s s g g g g r r r r m m
m m g g g g p p p p m m m m d d d d p p p p n n n n d d d d s s s s</p>
<p style="margin-bottom: 0in; line-height: 100%">s s s s d d d d n n n n p p
p p d d d d m m m m p p p p g g g g m m m m r r r r g g g g s s s s</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
	<br> Lesson 18</br>
<p style="margin-bottom: 0in; line-height: 100%">sgp rmd gpn mds 
</p>
<p style="margin-bottom: 0in; line-height: 100%">sdm npg dmr pgs</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
	<br> Lesson 19</br>
<p style="margin-bottom: 0in; line-height: 100%">s g sgp r m rmd g p
gpn m d mds</p>
<p style="margin-bottom: 0in; line-height: 100%">s d sdm n p npg d m
dmr p g pgs</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
	<br> Lesson 20</br>
<p style="margin-bottom: 0in; line-height: 100%">s g p r m d g p n m
d s 
</p>
<p style="margin-bottom: 0in; line-height: 100%">s d m n p g d m r p
g s</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
	<br> Lesson 21</br>
<p style="margin-bottom: 0in; line-height: 100%">s g srg r m rgm g p
gmp m d mpd p n pdn d s dns                    Extra ( n r nsr s g
srg) 
</p>
<p style="margin-bottom: 0in; line-height: 100%">s d snd n m ndm d m
dpm p g pmg m r mgr g s grs                  Extra ( r n rsn s d snd)</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
	<br> Lesson 22</br>
<p style="margin-bottom: 0in; line-height: 100%">s m srgm r p rgmp  g
d gmpd m n mpdn p s pdns		Extra ( d r dnsr n g nsrg  s m srgm )</p>
<p style="margin-bottom: 0in; line-height: 100%">s p sndp n m ndpm d
g dpmg p r pmgr m s mgrs		Extra ( g n grsn r s rsnd s p sndp)</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
	<br> Lesson 23</br>
<p style="margin-bottom: 0in; line-height: 100%">s p srgmp r d rgmpd
g n gmpdn m s mpdns		Extra ( p r pdnsr d g dnsg n m nsrgm s p srgmp)</p>
<p style="margin-bottom: 0in; line-height: 100%">s m sndpm n g ndpmg
d r dpmgr p s pmgrs		Extra ( m n mgrsn g d grsnd r p rsndp s m sndpm
)</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
	<br> Lesson 24</br>
<p style="margin-bottom: 0in; line-height: 100%">s d srgmpd r n
rgmpdn g s gmpdns	Extra ( m r mpdnsr p g pdnsrg d m dnsrgm n p nsrgmp
s d srgmpd)</p>
<p style="margin-bottom: 0in; line-height: 100%">s g sndpmg n r
ndpmgr d s dpmgrs	Extra ( p n pmgrsn m d mgrsnd g p grsndp r m rsndpm
s m sndpm)</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
	<br> Lesson 25</br>
<p style="margin-bottom: 0in; line-height: 100%">s n srgmpdn r s
rgmpdns	Extra ( g r gmpdnsr m g mpdnsg p m pmgrsrgm d p dnsrgmp n d
nsrgmpd s n srgmpdn)</p>
<p style="margin-bottom: 0in; line-height: 100%">s r sndpmgr n s
ndpmgrs	Extra ( d n dpmgrsn p d pmgrsnd m p mgrsndp g m grsndpm r g
rsndpmg s r sndpmgr)</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
	<br> Lesson 26</br>
<p style="margin-bottom: 0in; line-height: 100%">s srs srgrs srgmgrs
srgmpmgrs srgmpdmpdns srgmpdndpmgrs srgmpdns</p>
<p style="margin-bottom: 0in; line-height: 100%">s sns sndns sndpdns
sndpmpdns sndpmgmpdns sndpmgrgmpdns sndpmgrs</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
	<br> Lesson 27</br>
<p style="margin-bottom: 0in; line-height: 100%">s r s r srgmp r g r
g rgmpd g m g m gmpdn m p m p mpdns 
</p>
<p style="margin-bottom: 0in; line-height: 100%">s n s n sndpm n d n
d ndpmg d p d p dpmgr p m p m pmgrs</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
	<br> Lesson 28</br>
<p style="margin-bottom: 0in; line-height: 100%">psg pnr sgp rmd gpn
mds pnr psg 
</p>
<p style="margin-bottom: 0in; line-height: 100%">psg pnr mds gpn  rmd
sgp pnr psg 
</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
</body>
</html>
