<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
	<title></title>
	<meta name="generator" content="LibreOffice 5.1.6.2 (Linux)"/>
	<meta name="created" content="2017-12-16T05:08:51.438558719"/>
	<meta name="changed" content="2017-12-16T06:01:42.306710528"/>
	<style type="text/css">
		@page { margin: 0.79in }
		p { margin-bottom: 0.1in; line-height: 120% }
	</style>
</head>
<body lang="en-US" dir="ltr">
<p style="margin-bottom: 0in; line-height: 100%">Ideas that can be
created to fulfillment if funded.</p>

<h2>A membership site for a social group
</h2>
<p>Pay for entry as SOON as you visit the site. Site payment means that the projects will be funded. Religious programs, financial groups, funded social initiatiaves, political opinion campaigns.</p>

<h2>
	<div>an online venue that people go to to say what foods they like</div>
</h2>
<div class="body">
		the site would have a user. login via facebook or gmail.
		the network shows what foods people like, whether it be so specific to be a specific item made by a specific chef in a restauranut
		or so general to say that they like mushrooms grown in colorado.
		by liking, commenting, sharing these images, videos, gifs, the likers become automatically part of a group that wishes to buy the product.
		they speak something of what they like to eat or consume.
		by doing this, they are encouraged to support gardens, factories and stores around them.
		 they also support the growth of a plant/animal/factory near them of those types that they like
		and their relevant ads come from plant shops who are growing plants.
		the question becomes, what does the diet of a specific person



</div>

<h2>the usefulness of using quantum theory to spread information faster than light.</h2>
<br/> if you use two quantum seperated particles, measure where they're at,
<br/> you can send information faster than the speed of light, allowing information to spread at both ends.
<br/> despite the barrier of time. This is useful in scenarios where you wish to send information between planets far away from eachother in time, or
<br/> even spaces which have a distinctive gravity wave which stretches space-time in between a sattellite and its receiver. Information would spread
<br/> faster than the doppler effect of two waves propogating from opposite ends of a pool. the unifying theory that sets these two things together
<br/> is game theory. In game theory, if an object cannot be transversed, a consciousness of it's paths (or how it behaves) must be predictible, such
<br/> that the consciousness of it's paths after being exposed to specific stimuli (which makes the atom respond in a certain way) will be corralled
<br/> and aimed so that the wave will behave as you expect it to at some point. My romantic idea with it is that a harmonius vibration is picked up
<br/> and a resonant one makes the others around it resonate in a certain manner complementary to it's own resonance.
<br/> Maybe it would be possible to understand what happens in a black hole if we threw this particle into the blackhole and registered it's changes.


<p style="margin-bottom: 0in; line-height: 100%"><br/>
	<p>

		<h2> A pay to view a QRC model that is the accesspoint to pay for the delivery of a product</h2>
		<br/> The model starts listing products and their prices. The user of the webpage submits information
		<br/> that adjusts the prices to ship such a good. a link to the crypto qrc to pay for the item is placed
		<br/> behind the credit card charge.
		<br/>
		<br/>

	</p>

<p>

	<h2><%= link_to "The ability to play videos from excel", "https://www.extendoffice.com/documents/excel/4483-excel-play-video.html"%></h2>
	<br/> if this can be done, then ANY service from windows can be accessed via the office suite, even foreign programs.

</p>
<p>
	<h2>An open speaker that can lift a weight in certain controlled atmospheres. .</h2>
	<br/>
	<br/>		Two speakers positioned and placed inside a walled off or fielded space.
	<br/>		The upper one pastes on to the ceiling.
	<br/>		The lower one is within an enclosure that houses the object in event of a failure.
	<br/>		An object can be any household item, as long as the Machine can calibrate certain
	<br/>		resonant pressure/mass points from its upper half and lower half (6mm matted surface points on the top and bottom),
	<br/>
	 but lets keep it simple and stay closer to the objects we've found resonance in
	<br/>		Spherical and pointy.
	<br/>		they have settings to lower or raise the height of the object via resonant sound.
	<br/>		Again, this is the resonant sound with the object. A computerized calibrator must figure out by the
	<br/>		hight of the upper speaker and the lower speaker, their angles and positions with one another, the field they
	<br/>		can create (LED's could be employed here to help visualize the positions), and the resonance feedback that it gets
	<br/>		for it's position, which ultrasonic soundwaves are the most appropriate to keep the object in the fields of resonance.
	<br/>
	<br/>		For proper levitation, the enclosure must have an on and off setting, to prevent debris from affecting an open speaker's pathway.
	<br/>		The on setting removes the upper lid from the enclosure, and also removes the fabric covering that lid.
	<br/>		when the enclosure transitions to off, the object (specific points on a spherical object in this case)
	<br/>		is supported by extended arms, the lid is placed on the enclosure, the fabric is placed over it,
	<br/>	  and the object is lowered until it rests on the upper lid.
	<br/>
	<br/>		The speakers are set to a specific object. only that object will resonate in that space
	<br/>   the speakers are placed on circles on the ceiling, and circles on the flooring. (cannot have a rug under it.)
	<br/>   upon the setup of the speaker.
	<br/> 	This wont work conventionally however, as the air will compress under the weight, however, if a large enough surface
	<br/>  	area was to be touched by the sound itself, it could pull a certain n of force on each of the points.
	<br/>
</p>
<p>
 	<br/>
</p>
	<p>
		<h2> Eventbrite that has musicians sign up for the events</h2>
	<br/> <%= link_to "register an event via eventbrite.", "https://www.eventbrite.com/" %>
	Have a calendar listing of all related events.
	<br/>	have open positions for people to sign up. have artists request a certain amount of pay.
	<br/>	let the event creator confirm that pay. (generate the feedback loop of information between event
	<br/>	creator and financially pledged contribution requests.
	<br/>
</p>
<p>
	<h2> Making a person's life valuable and satisfying via gameifying goals in an avatar-like environment</h2>
	<br/>  An app starts by registering a user, building a profile of them (age, weight, race, gps location,
	<br/> income, gender, favorite meals, health [other stats on request]). it labels them as a type of bender on
	<br/>level 0 and has them attend schools, churches, martial arts schools, music schools, and volunteer events.
	<br/> points are awarded to the person as they remain in the area of these places and leave the webpage on.
	<br/> as they level up, they are allowed to use stronger and stronger air bending moves. The extent which
	<br/> would let them enter certain spaces which track their movements, and replicate certain martial arts moves
	<br/> in order to "trigger" that ability.
	<br/>
</p>
</p>
<h2> Local farming delivery efficiency (eliminating grocery stores) </h2>
<br/>Farmers currently need a complex network to deliver their goods and receive payment for their food from their people
<br/>Creating a simple dataabase that allows citizens of their own city to pay a tax to those farmers in order to make the foods required...
<br/>give farmers websites that manage to get the food statistics for a city and supply them for the cheapest amount possible.
<br/>
<br/>farmers must have the cheapest system possible for reaping and growing goods in a dense space.
<br/>
<br/>scale
<br/>	A propogation system
<br/>	A maintanence, watering and policing.
<br/>	A social system, (pollination and growth)
<br/>	A reaping system, (harvesting and collection)
<br/>	Refinement into packaged and finished goods (fresh, frozen, dried, juiced, canned)
<br/>	Bee Managemenet
<br/>	Plastic, paper, glass and aluminum recycling center.
<br/>
<br/>	resources needed, plastics, paper, metal and glass recycling
<br/>	Water source.
<br/>	website can help achieve the process of requests for refined goods, delivery, and
<br/>
<br/>	Farmer levels: level 0 - has nothing
<br/>	 								level 1 - owns a car, house, land, production output of x lbs per month
<br/>									level ...
<br/>									level ...
	<br/>								level 5 - owns car, tractor, shipping container, house, web domain,
	<br/>										2 zones of land, has employees, a 10x10 freeze dryer, temp control warehouses
	<br/>										a heating press, a pulper, a juicer, a bagger, cutter/ dicer,
	<br/>										jar supply, canning supplies, land production density & turnover
<br/>											ice cream
<br/>											milking
<br/>
According to farmer level, they can control/supply more or less of the surrounding area's demand for goods

<p style="margin-bottom: 0in; line-height: 100%"><br/>
</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%">1.  create a venmo
for every currency</p>
Add a loan module that requires people to pay if they do not deposit money on time.
A #{loan} with a #{weekly} <u>period</u> at #{rate} with #{=weekly} #{payment_amount} dollars will follow this formula
current balance on #{loan}.
$ #{interest} will added if you do not submit payment by #{one_week_from_today}.

Where #loan is determined by any amount, 0-infinity, #weekly is a selector of weekly = 52, monthly=12, daily=356, yearly=1,
#rate is determined by whatever rate is chosen.

For the weekly formula, #interest = (#{loan}/#{payment_amount}/#{weekly}*#{rate}*#{payment_amount})+#{loan}

<p style="margin-bottom: 0in; line-height: 100%">	Let users</p>
<p style="margin-bottom: 0in; line-height: 100%">		create a wallet</p>
<p style="margin-bottom: 0in; line-height: 100%">		create a register
of which users have input money in (2x shipping fee ) to be accounted
</p>
<p style="margin-bottom: 0in; line-height: 100%">			for ( via human
reconciliation) (cash will be rejected and sent back if any is</p>
<p style="margin-bottom: 0in; line-height: 100%">			found to be
counterfeit)</p>
<p style="margin-bottom: 0in; line-height: 100%">				ruby methods :
send , request, create_user, create_password</p>
<p style="margin-bottom: 0in; line-height: 100%">				ruby gems:
devise_user_authenticator,
</p>
<p style="margin-bottom: 0in; line-height: 100%">		Withdrawal sends
money back to the bank for them.</p>
<p style="margin-bottom: 0in; line-height: 100%">		</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>
</p>
<p style="margin-bottom: 0in; line-height: 100%">1a. start with the
command, upon (human)receipt of *your currency* in our
golden(composed of an aggregate financial value of a country's
currency) wallet,  you have been credited to the receipt of x amount
of *universal* dollars.</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%">1b .Make the dollars
a cryptocurrency,</p>
<p style="margin-bottom: 0in; line-height: 100%">base the crypto
currency's value on the most even portfolio of all countries in the
world. Taxes spent!</p>
<p style="margin-bottom: 0in; line-height: 100%">Taxes unspent.
</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%"> 2. script:</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%">user wants a form
process automated.</p>
<p style="margin-bottom: 0in; line-height: 100%">they have to enter
predetermined information constantly from an excel sheet to a
website. i come in, record the process, discuss the work you need to
do, and leave you with a process on your computer that does that
infinitely quickly as long as you do not update the system.
</p>
<p style="margin-bottom: 0in; line-height: 100%">automate a form</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%">3. a site that is my
resume, and all active websites i have contributed to
</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%">4 . i can create web
marketing surveys.
</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%">5. i can create apps
that you can plug in certain devices for extra usability. (virtual
goggles application, specific usb application, unique usb product
applications, amazon firestick)</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%">6. i can create
forms that get sent to your email, and then are responded to in a
certain manner (for business correspondence and going paperless”</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%">7. I can create a
management system based on videos and photos for project management
to get a job done.</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>
<!--
</p>
<p style="margin-bottom: 0in; line-height: 100%">8. a drugdealers
personal business minified to a shipping business. They conduct their
business without problems and great amounts of accountancy and ease
offered for free.</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/> -->

</p>
<p style="margin-bottom: 0in; line-height: 100%">9</p>



10. A website that takes a public profile of a person and recreates them in
a VR sense. It will show their ideas, history, assets, background,  "as a god".
It will show their abilities, current statistics, most notable achievements,
the things they place value in, and their financial profile, as if they were a company.
Redundancy profile on personal information time spent on sex, eating, cooking, cals consumed daily
footsteps made this [day, week, month, hour]. Lessons taught, songs sang, instruments played, hours
on instrument.

<br><br>

11. compete with Radiris.com in being able to describe businesses, people, people by job topic
(first model would be public opinions of politicians), where politican ads are deployed to spread awareness on topics.

12.
here's the plan: place successful microbial life on all planets that fit a specific profile 




The limits of known life on Earth.[15]
Factor	Environment / source	Limits	Examples
High temperature	Submarine hydrothermal vents	110 °C to 121 °C[15]	Pyrolobus fumarii, Pyrococcus furiosus
Low temperature	Ice	-20 °C to -25 °C[16]	Synechococcus lividus
Alkaline systems	Soda lakes	pH > 11[15]	Psychrobacter, Vibrio, Arthrobacter, Natronobacterium
Acidic systems	Volcanic springs, acid mine drainage	pH -0.06 to 1.0[15]	Bacillus, Clostridium paradoxum
Ionizing radiation	Cosmic rays, X-rays, radioactive decay	1,500 to 6,000 Gy[15]	Deinococcus radiodurans, Rubrobacter, Thermococcus gammatolerans
UV radiation	Sunlight	5,000 J/m2[15]	Deinococcus radiodurans, Rubrobacter, Thermococcus gammatolerans
High pressure	Mariana Trench	1,100 bar[15]	Pyrococcus sp.
Salinity	High salt concentration	aw ~ 0.6[15]	Halobacteriaceae, Dunaliella salina
Desiccation	Atacama Desert (Chile), McMurdo Dry Valleys (Antarctica)	~60% relative humidity[15]	Chroococcidiopsis
Deep crust	accessed at some gold mines		Halicephalobus mephisto, Mylonchulus brachyurus, unidentified arthropods


launch these for an aggressive takeover on the planets

to further refine the system, 
in specificity, factors we're looking at for mars
a limit for lifeand how much water is available becomes a basic limitation for the planet.

Fresnel lenses around the sun (and all nearby stars)


a planets size and color will determine what amount of energy is needed for terraforming of the planets. 
this curvature of the fresnel lenses would be determined by the final proposed image of the planet.

for the other seven planets (excluding earth), a total sunlight per sq foot calculation needs to be calculated for the curcumference of the planet.
average heat profile by color of the planet is determined, and the decision on the sizes of the lenses will correspond to the size and distance of the planet.

for planets inward of the goldilocks zone, solar shielding through light deflection (or concentration to a planet further away as the system needs) can be 
organized for the local star's planets. 


the lenses themselves require some method of maintaining proper orbit. 

as to the types of color that are required, resources like metals can be transformed temporarily into a working stage and then set to a maintenance working curvature.

<h2 style="margin-bottom: 0in; line-height: 100%">
Thefuture.com</h2>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%">Incorporating all of
the future’s ideas today.</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%">If the future is to
happen, we have to give it support NOW.</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%">Strategists,
Industrial experts, 3d printing engineers, and just in time inventory
meet financial strategy, purgatormortem services, machinsts, and
access to the infinite.</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%">Things that have
been written of in the futuristic series have long been asking to be
made.</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%">Industries sometimes
support these, but sometimes a more eloquent strategy can (and
should) be managed around them.</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%">Gundams become
inexpensive possibilities by mass producing cheaper made models. 
</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%">Futuristic sources
of energy for machines all point to using the sun for it’s power
source, so the most ideal of our machines that exist in the
atmosphere are powered by the sun itself. Fusion’s ability to
sustain energy is the most ideal choice. 
</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%">If the sun isnt
available, thermal, chemical, nuclear, and other quanta sources are
at our disposal.</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%">Managing the
future’s machinery includes large lenses, biodomes, and
megastructures. The cost of these and the industry they require is
inherently mitigated by fund management into the assumed monopoly of
services offered upon the structures. This will make living on the
structures expensive for the inhabitants, but of a most elite
composition of people. Commanding over the large spaces will be
forces that must be in place for the peaceful survival of humanity.
Robotically programmed securetech will ensure that actions that occur
in an impoverished society will not advance to levels that may
compromise system viability. Death and growth are to be controlled
via amount of alternate food sources. No life is to be harmed on the
planet.</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%">Spaces where only
robotic machinery may enter will be protected by virtual reality
control systems. The views offered unto civilians, but the actions
only to be carried out by specific machinery. In expansionary cases,
this will be sustained by the controlling the trade between cheap
abundant intelligent species of a lower class for a premium product.
These machines are to be used for repair or expansion. Special
classes of virtual reality will teach those who organize a solar
systems spaces to be terraformed. 
</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%">Thefuture knows
there are many topics within the future that require funding and a
collection of people who are willing to get the ball rolling.</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%">We organize
different routes to become providers in the different roles required
for each technology mentioned. Members who are interested in the
endeavor will meet up with a Team Leader who has dedicated themselves
to the technology. The choice of investor varies along all
stakeholders in the system. That is, you can choose to own a share of
the enterprise, or enter actionable participation through
recruitment. 
</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%">All sentient life
which wish to aspire to an “augmented value” within their lives
will be given machines. The purpose of the machines are to give them
an AI understanding to aid them in the duties they sign up for upon
the leasing of the machine. For example, operation of machinery
requires some understanding tutorials and augmented understanding in
order for the machinery to be operated properly. Audible illustration
will allow all choices where this opportunity is presented to be The
AI’s will be connected to them at all times.  Bio-mechanic
connections will be issued.</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%">For dental
nanomachinery, a small bluetooth controlled robot which will traverse
through the orifices of an animal will be registered for dental
needs. Due to the DNA of the animal, time, and specific modifications
(eg. prosthetics, physical abnormalities), the nano machine will
conduct eternal plaque and detritus removal from teeth and exposed
bone. The toolset will minimally include attachments which perform
all of the functions of the dentist machinery listed <a href="https://www.portmandentalcare.com/dental-articles/what-equipment-does-your-dentist-use">here</a>.</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%">Similarly,
intravenal nanomachinery maximally 7 microns in diameter will be
tested on mice to remove plaque buildup within their hearts. This
machine at the end of its life is to be eventually passed out through
excretory methods. The purpose of this device is to course through
the arteries of the being and remove plaque buildup. The methods for
removing LDL aggressively are still under debate, but let proposals
for both solutions be kept in mind before making a choice of the arm
required to implement the action. Let manufacturing choices be taken
into consideration on reducing the cost of this machinery. 
</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%">Having a minimum of
four arms for bracing, a section of it’s compartment for shielding,
an arm for scraping, and other compartment sections for hardware will
be incorporated into the nanomachines. 
</p>
<p style="margin-bottom: 0in; line-height: 100%">The composition of
metals or surface materials will have to mimic a blood cell or a
similar free floating molecule. Whether the machine will self
destruct into biodegradable pieces or pass through the body through
excrement will be assessed on a personal basis.</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>
The Story of Ana. Existing for many but brief moments in the transcendental  realization of our place in the existence of life that is to be.
<br>I wanted it to have life everywhere by the time I was twentyseven. I expected there to be an organism which was genetically engineered with seeds in its digestive tract. It would search for abundant elements(radiation, polarization, weight, gravitational fluctuations) and molecules(water, co2 , hydrogen, oxygen, carbon, aluminum, magnesium, neon, mercury, helium, nitrogen), dig a hole where no life exists, poop-plant those seeds, and then leave to find more water until it’s life or seeds run out. Either or.
<br>
<br>There was the enterprise I though often of. There would be servicemen in the repair of hazardous geological activity. The industry was in the K2 civilization. Life was being propagated everywhere like trash, in plant and worm form. These men would travel to planets where previous critters who implanted the planet with seeds (landed at least 100 years previously). They would harvest growth from the planet’s ecosystems for planets where creatures have not evolved to incorporate photosynthesis (or other higher elemental function) into their being/consciousness.  The servicemen would be similar to bounty hunters. They’d go to an area and deploy fleets of machines to restrain and organize the terrain into smooth and rocky terrain. They’d also collect precious stores of metals, glass, and radioactive elements to power and print the next best fleet machines, as well as print some resources from reclaimed materials that could help improve the land (like upgraded minimalist shelters for storms that lesser creatures that cannot obtain on their own). 
<br>The enterprise employed these men in pursuit of monetary gain. The causes of death for these men were unsolved, and much money was going into the research to make them longer living. There always seemed to be some sort of external interference that would cause their crewmen to expire prematurely, but the causes were a warfront to be tackled by submitting more and more research.  The servicemen would also travel to supercities cities where technology and species would advance virtual testing environments to help aid their models. 
<br>Models of the universe that exist were always incomplete. Consciousness (though biased to act in a certain accord ) always captures some level of unpredictibility with its growth. Observation and the butterfly effect often made models hard to predict long term. Asteroids and civilization size also added to the disharmonius models.
<br>But back to the servicemen. Their initial ship would be suited for any species which would choose to command the vehicle. The species must be able to synchronize with the ship, controlling it as a parasite would control its host or better. The species must agree to noble use of the machine under the enterprise’s rule. Defense of it’s captivation port during rest periods by a member of the enterprise is not allowed. The captivation port is meant to reclaim the machine for repairs, cleaning and harvesting. 
<br>After the synchronization, the species and ship will be known as the serviceman. The serviceman should have working radiation sails, metal drilling and gripping arms, a pressure anchor, sailing sheathes, radiation shields, molding particles, water storage, waste storage, radioactive storage, calibrators, 360 degrees of recording and security feed, repair bot printer, fresnel lens, laser/ion blinders, cloaking device, deployable anchor-chains, magnetic disruptor, chemical –audio-radiation-electroscopy frequency detectors, chemical stores, storage, and life support packs. Separate pressure tanks on board would be responsible for maintaining a comfortable pressure for the species’ cabin (and pressure sensitive systems)
<br>

</p>
<p>
	Employee task feedback form
<br>
This form is meant for the Employee to express Employer/Manager relationship/task feedback 
<br>
Did you understand the task requested of you this morning?
<br>
Have you completed the task to the point of being ready for review? Are there impediments/barriers that are preventing you from completing a task?
<br>
Did this task challenge you?
<br>
Can this task be done more cheaply (faster, with less resources, delegated to a subordinate, in a more productive space, etc) without loss of quality?
<br>

Did this task utilize knowledge you’ve taken from your degrees, certifications, educational programs, or books? 
<br>
Is there a task that you could’ve done today to provide more impact or long-term value to stakeholders in the company?
<br>
If there is a job fingerprint, please enter it here.
<br>

<br>
</p>
<p>
	The best 
<br>
Chemists – know your chemicals. 
<br>
Men – to colonize planets and intelligently man services
<br>
Women – to colonize planets and intelligently manned services
<br>
Price predictors – Figure out the flow of markets and where extremely valuable interests in things arise.
<br>
Future predictors – Figure out, on a scaled plan of the most efficient solar society determined by the maximized value of (life*happiness)/(poverty) where happiness is measured by general consensus, life is measured by the number of lives in the study, and poverty is measured by the counts of poverty noted in the system. All species should be allowed to participate as long as they sustain sufficient mental capacity, but this is an ideal that will likely not be reached.
<br>
Program Operators – “we use machines to implement the will of the creators” Consider the possibility that you, and many of the things around you are basically machines programmed with certain limitations. Height, strength, temperature, etc. imagine that chemists are so good they can mimic life through chemical soups. You are to use the natural or directed function of these creatures to maximize the square footage of the best projected simulation of what that thing can be, and how it can operate (perpetually) at it’s most efficient point. 
<br>
Past improvement sectors – Upgrading current businesses and technologies to adapt goals and plans towards capitalization of the center of efficiency and value. Generally this begins in funding for science and technology research. This job is completed when the simulation of sectors becomes adopted universally and organizations operating at 
<br>
Efficiency management “GDP? Bitcoin”
<br>
Intelligence educating
<br>
Species handling
<br>
Culture management 
<br>
Cloning
<br>
Law and licensing
<br>
Digital dimension virtualization 
<br>
Virtual reality
<br>
Biologists
<br>
Construction and earth movers
<br>
Gene pool scientists.
<br>
Aging and Time Scientists
<br>
Choice and probability Research scientists
<br>
Energy Scientists – how can we use a fixed amount of energy applied over any location in the solar system to harbor life?
<br>
Magnetic and infrared researchers – show us what we cannot see, and all that we will.
<br>
Structural, mechanical, parts valuation, 
<br>


</p>
<p>
Welcome CPAs, CFAs, CAIAs, CFPs, FRMs, FMVAs, and ACCA’s. 
<br>
I bring you all together here today to address the future of value and lay the groundwork for efficiency.
<br>
What we will be funding is a future that regards efficiency in its best sense. 
<br>
Being that things are often best realized in retrospect, lets retrospectively look at today through the eyes of a kardashevian civilization. For the unfamiliar, kardashevian civilizations have four tiers, from K0 to K3. The last one talks about utilization of the energy of black holes, and many of them have advancements that are brought about by the age of their technological and knowledge industry.  The first speaks of a civilization unable to use all of the energy it is given.
<br>
Energy is important as it creates value (via bitcoin and cryptocurrencies) and supports all forms of life and life cycles. Supporting life supports economic growth, products, and production. The fluctuations in the markets require buyers, sellers, and market makers. 
<br>
Time, money, love, value and happiness are linked. Managing to support life and it’s interactions creates value. Growth is imminent as long as life is supported across the universe. And growth, whether by aging civilizations or by GDP, leads to an increase in unpredictability and fluctuations in value.
<br>
Complexity, infrastructure, and strategy are required to grasp the value that is produced by the oncoming advancement of civilization. 
<br>
An ideology of purposeful capitalism mixed with social activism is embraced here. The governmental structure that exists is one where production requires funding and maintenance. Excesses should be spent wherever the next best return on investment can be found.  
<br>

<br>
However, to stay on focus, I have invited you all here to talk about the equations that we all know to regard with utmost care. There are inefficiencies in the markets in many places. Where labor must be done, it can be done better. Imbalances in equity prices exist for moments of arbitrage. Where companies are floundering possibly due to bad management, more efficient processes and procedures can be implemented. There are many venues where value can be extracted, but not enough mental power and time to stay on the search for these deals. 
<br>
What I wish to propose is an organization as such:
<br>
•	12 main roles I suggest for the administration of any successful company.
<br>
•	Organized scrum meetings between high ranked futurists and financial theory specialists, paid for their time. The meetings should result in a frontier where theoretical financial instruments  of a kardashevian level is given the ability to dictate the venues for value to be built. 
<br>
•	Resulting activity is monitored and legislated to operate in such ways that promote  growth of activity and observation. Commissions and fees may be added to help dictate agreeable terms of being a market maker.
<br>
•	The industry supporting the activity adds legislation in areas where activity is harmful. 
<br>
•	
<br>
•	The futurists and financial specialists should aim to reduce current noise within markets and create expansionary growth in portfolios. Weighted by the 
<br>
•	
<br>
•	 (hopefully dedicated to advancement of greater civilization’s fixtures), 
<br>
•	A scrum master to focus
<br>
•	
<br>
•	Aside from the main 12 roles I prescribe to be integral to upper management of any business, The operations department would comprised in the following manner. 
<br>
<br>

</p>
<p>
	Cannabros
<br>
The Canabis brother enterprise.
<br>
9 positions Available.
<br>
Growing marijuana and sending it overseas in a boat and then a drone.
<br>

<br>
Getting a Guyanese person familiar with a submarine
<br>

<br>
Get a sub
<br>
	Onsub roles
<br>
Supply officer
<br>
 9 others
<br>
Captain
<br>
Medical officer
<br>
Go straight down into the heart of the sub.
<br>
Ship precious commodities from one place to another. 
<br>

<br>

<br>
¬__
<br>
Guyana
<br>
Broadcasting/Entertainment Publishing
<br>
Food products
<br>
Airlines
<br>
Electricity
<br>
Bank
<br>
Phone company
<br>

<br>
¬¬¬¬
<br>
Small circular economies. – 
<br>
1.	Supplier Purchases  and obtains : 3 lbs (or more) of grain. 3 oz hops. 3 gallons water. 12 oz Dry Malt Extract or equivable broken down extract. The space for these events for two months
<br>
2.	Mushroom Grower takes grain to make mushrooms.
<br>
3.	Room is controlled in humidity and temperature , and cleanliness access.
<br>
4.	Mushrooms are grown and fruiting bodies are collected daily.
<br>
5.	Producer rents shelves (or vending machines) and sells beer and mushrooms in local sales outlets. 
<br>

</p>

</body>
</html>
