<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
	<title></title>
	<meta name="generator" content="LibreOffice 5.1.6.2 (Linux)"/>
	<meta name="created" content="00:00:00"/>
	<meta name="changed" content="2021-03-21T23:40:55.029628210"/>
	<meta name="created" content="2017-12-15T23:12:50.942304468">
	<meta name="changed" content="2017-12-15T23:24:38.746870989">
	<style type="text/css">
		@page { margin: 0.79in }
		p { margin-bottom: 0.1in; line-height: 120% }
		h1 { margin-bottom: 0.08in }
		h1.western { font-family: "Liberation Sans", sans-serif; font-size: 18pt }
		h1.cjk { font-family: "Noto Sans CJK SC Regular"; font-size: 18pt }
		h1.ctl { font-family: "FreeSans"; font-size: 18pt }
	</style>
</head>
<body lang="en-US" dir="ltr">
<h1 class="western" align="left">Anand’s Investment Signup</h1>
<p align="left" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p align="left" style="margin-bottom: 0in; line-height: 100%"><br/>
For
live daily updates on prospecting, executed stock moves, and
exclusive offers, <a href="https://groupme.com/en-US/apps">download
GroupMe</a> and <a href="https://groupme.com/join_group/67219175/RIutJPsi">join
</a><a href="https://groupme.com/join_group/67219175/RIutJPsi">the
group</a>. 
</p>
<p align="left" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p align="left" style="margin-bottom: 0in; line-height: 100%">If
you’d like to entrust a certain amount to be managed through snail
mail and contracts, please fill out the following</p>
<p align="left" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<form action="https://getsimpleform.com/messages?form_api_token=67f0a04c90bacd6531179946d149e692" method="post">
	<div align="left">
		<p style="margin-bottom: 0in; line-height: 100%"><a name="name"></a>
		Name: <input type="text" name="name"  size="20" style="width: 1.75in; height: 0.3in">
				</p>
	</div>
	<p><a name="phone1"></a><a name="address"></a><a name="phone"></a><a name="amtinvest"></a><a name="senddate"></a>
	<br/>
Email: <input type="text" name="email"  size="20" style="width: 1.75in; height: 0.3in">
	<br/>
Address: <input type="text" name="address"  size="20" style="width: 1.75in; height: 0.3in">
	<br/>
Phone # <input type="text" name="phone"  size="20" style="width: 1.75in; height: 0.3in">
	<br/>
Amount wanted to be invested: <input type="text" name="amtinvest"  size="20" style="width: 1.75in; height: 0.3in">
	<br/>
Date sent: <input type="text" name="senddate"  size="20" style="width: 1.75in; height: 0.3in">
		</p>
	<div id="jsk" dir="ltr">
		<p>Type: <input type="checkbox" value="mailedCheck"  style="width: 0.14in; height: 0.14in">Mailed
		check <input type="checkbox" value="venmo"  style="width: 0.14in; height: 0.14in">Venmo
		<input type="checkbox" value="bitcoin"  style="width: 0.14in; height: 0.14in">Bitcoin
		<input type="checkbox" value="litecoin"  style="width: 0.14in; height: 0.14in">Litecoin
		<input type="checkbox" value="cash"  style="width: 0.14in; height: 0.14in">Mailed
		Cash 
		</p>
	</form>
</div>
<p align="left" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p align="left" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p align="left" style="margin-bottom: 0in; line-height: 100%">I will
promptly respond with an address to depost funds and we can continue
a personal conversation from there.</p>
</body>
</html>