<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
	<title></title>
	<meta name="generator" content="LibreOffice 5.1.6.2 (Linux)"/>
	<meta name="created" content="2019-02-14T11:32:56.852786894"/>
	<meta name="changed" content="2019-02-14T13:08:02.643049830"/>
	<style type="text/css">
		@page { margin: 0.79in }
		p { margin-bottom: 0.1in; line-height: 120% }
	</style>
</head>
<body lang="en-US" dir="ltr">
<p align="center" style="margin-bottom: 0in; border-top: none; border-bottom: 1px solid #000000; border-left: none; border-right: none; padding-top: 0in; padding-bottom: 0.03in; padding-left: 0in; padding-right: 0in; line-height: 100%">
Job Board</p>
<p align="center" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p align="left" style="margin-bottom: 0in; line-height: 100%"><br/>
<br/>

</p>
<p align="left" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p align="left" style="margin-bottom: 0in; line-height: 100%">Job
ID___________</p>
<p align="left" style="margin-bottom: 0in; line-height: 100%">Issue
________________</p>
<p align="left" style="margin-bottom: 0in; line-height: 100%">Expected
time to complete: ______________</p>
<p style="margin-bottom: 0in; line-height: 100%">Location
____________</p>
<p style="margin-bottom: 0in; line-height: 100%">Stage: Open: In
progress/ Claimed by/ Closed</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; border-top: none; border-bottom: 1px solid #000000; border-left: none; border-right: none; padding-top: 0in; padding-bottom: 0.03in; padding-left: 0in; padding-right: 0in; line-height: 100%">
<br/>

</p>
</body>
</html>