<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
	<title></title>
	<meta name="generator" content="LibreOffice 6.4.7.2 (Linux)"/>
	<meta name="created" content="2021-06-10T22:35:40.061894421"/>
	<meta name="changed" content="2021-06-11T09:33:01.529218860"/>
	<style type="text/css">
		@page { size: 8.5in 11in; margin: 0.79in }
		p { margin-bottom: 0.1in; line-height: 115%; background: transparent }
		a:link { color: #000080; so-language: zxx; text-decoration: underline }
		a:visited { color: #800000; so-language: zxx; text-decoration: underline }
	</style>
</head>
<body lang="en-US" link="#000080" vlink="#800000" dir="ltr"><p align="center" style="margin-bottom: 0in; line-height: 100%">
Musical Instrument Rental Agreement 
</p>
<p style="margin-bottom: 0in; line-height: 100%">This Musical
Instrument Rental Agreement (the “Agreement”) is made between
TechIT, LLC (“TechIT”) and the Renter as entered on this order
(collectively referred to as the “Parties”). 
</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%">The Parties agree as
follows: 
</p>
<p style="margin-bottom: 0in; line-height: 100%">1. EQUIPMENT: TechIT
hereby leases to Renter the equipment designated on this Rental
Agreement (the “Equipment”).</p>
<p style="margin-bottom: 0in; line-height: 100%">2. RENTAL TERM: The
rental will start on Renter's receipt of the Equipment (begin date)
and continue on a month-to-month basis (“Rental Term”).</p>
<p style="margin-bottom: 0in; line-height: 100%">3. RENTAL PAYMENTS:
Renter agrees to pay to TechIT as rent for the Equipment the amount
for the full Rental Term (“Rent”). 
</p>
<p style="margin-bottom: 0in; line-height: 100%">4. RENTAL PURCHASE
OPTION: TechIT will apply 100% of Renter’s first two months' Rent
(excluding maintenance fees and taxes) toward the purchase of the
Equipment. The Rental Purchase Option applies only if that item is
purchased immediately at the end of the initial 2-month rental
period. Rental credit stops accumulating after the first two months.
If this Option is not exercised, Renter agrees to forfeit any
accumulated purchase credit upon return of the Equipment to TechIT.</p>
<p style="margin-bottom: 0in; line-height: 100%">5. SECURITY: Prior
to taking possession of the Equipment, Renter shall provide a valid
credit card as security for the performance by Renter of the terms
under this Agreement and for any damages caused by Renter or Renter’s
agents to the Equipment during the Rental Term. Renter agrees to pay
full replacement cost of any equipment lost, stolen, damaged or
destroyed, and TechIT is hereby authorized to charge retail price of
the Equipment to Renter's banking or credit card account, less any
applicable Rent.</p>
<p style="margin-bottom: 0in; line-height: 100%">6. DEFAULTS: If
Renter fails to perform or fulfill any obligation under this
Agreement, Renter shall be in default of this Agreement. Subject to
any statute, ordinance or law to the contrary, Renter shall have
seven (7) days from the date of notice of default by TechIT to cure
the default. In the event Renter does not cure a default, TechIT may
at TechIT’ option (a) cure such default and the cost of such action
may be added to Renter’s financial obligations under this
Agreement; or (b) declare Renter in default of the Agreement. If
Renter shall become insolvent, or if a petition has been filed by or
against Renter under the Bankruptcy Act or similar federal or state
statute or if charges to Renter's credit card shall be declined by
the issuer, TechIT may immediately declare Renter in default of this
Agreement. In the event of default, TechIT may, as permitted by law,
re-take possession of the Equipment.</p>
<p style="margin-bottom: 0in; line-height: 100%">7. POSSESSION AND
SURRENDER OF EQUIPMENT: Renter shall be entitled to possession of the
Equipment on the first day of the Rental Term. At the expiration of
the Rental Term, Renter shall surrender the Equipment to TechIT by
delivering the Equipment to TechIT or an agent of agent in good
condition and working order, ordinary wear and tear excepted, as it
was at the commencement of the Agreement. Renter may surrender the
Equipment to TechIT prior to the end of the Rental Term, however
TechIT’ acceptance of such surrender shall not entitle the Renter
to any refund or credit.</p>
<p style="margin-bottom: 0in; line-height: 100%">8. USE OF EQUIPMENT:
Renter shall only use the Equipment in a careful and proper manner
and only for its intended purpose. Renter will comply with all laws,
rules, ordinances, statutes and orders regarding the use, maintenance
and storage of the Equipment.</p>
<p style="margin-bottom: 0in; line-height: 100%">9. CONDITION OF
EQUIPMENT: Equipment is in good playing order when accepted by
Renter. Upon receipt of the Equipment, Renter shall inspect the same.
Renter shall be deemed to have inspected the Equipment and
acknowledged the Equipment is in good and acceptable condition,
unless TechIT shall have received notice of any defect or damage
immediately following receipt of the Equipment.</p>
<p style="margin-bottom: 0in; line-height: 100%">10. MAINTENANCE,
DAMAGE AND LOSS; DAMAGE PROTECTION: Renter shall at all times be
liable to TechIT for the full replacement cost of the equipment
leased hereunder and agrees to remit the same within 5 business days
of any loss or damage to said equipment, whether by fire, theft,
burglary, fraud, mysterious disappearance, water, or casualty of any
nature. Renter will, at Renter's sole expense, keep and maintain the
Equipment clean and in good working order and repair during the
Rental Term. In the event the Equipment is lost or damaged beyond
repair, Renter shall pay to TechIT the replacement cost of the
Equipment; in addition, the obligations of this Agreement shall
continue in full force and effect through the Rental Term. TechIT is
hereby authorized to charge Renter's credit card for any such repair
or replacement charges.</p>
<p style="margin-bottom: 0in; line-height: 100%">11. REPRESENTATIONS
of TechIT: TechIT represents and warrants only as follows: a) That it
has the right to Rent the Equipment as provided in this Agreement; b)
That Renter shall be entitled to hold and possess the Equipment; c)
TechIT will not interfere with that right as long as Renter performs
its obligations under this Agreement; d) TechIT makes no
representation with regard to the particular brand or manufacturer of
the Equipment rented hereunder.</p>
<p style="margin-bottom: 0in; line-height: 100%">12. OWNERSHIP: The
Equipment is and shall at all times remain the exclusive property of
TechIT.</p>
<p style="margin-bottom: 0in; line-height: 100%">13. BINDING EFFECT:
The covenants and conditions contained in the Agreement shall apply
to and bind the Parties and the heirs, legal representatives,
successors and permitted assigns of the Parties.</p>
<p style="margin-bottom: 0in; line-height: 100%">14. ENTIRE
AGREEMENT: This Agreement constitutes the entire agreement between
the Parties and supersedes any prior understanding or representation
of any kind preceding the date of this Agreement. There are no other
promises, conditions, understandings or other agreements, whether
oral or written, relating to the subject matter of this Agreement.
This Agreement may be modified in writing and must be signed by both
TechIT and Renter.</p>
<p style="margin-bottom: 0in; line-height: 100%">15. CUMULATIVE
RIGHTS: TechIT’ and Renter’s rights under this Agreement are
cumulative, and shall not be construed as exclusive of each other
unless otherwise required by law.</p>
<p style="margin-bottom: 0in; line-height: 100%">16. INDEMNIFICATION:
Except for damages, claims or losses due to TechIT’ acts or
negligence, Renter, to the extent permitted by law, will indemnify
and hold TechIT and TechIT’ property, free and harmless from any
liability for losses, claims, injury to or death of any person,
including Renter, or for damage to property arising from Renter using
and possessing the Equipment or from the acts or omissions of any
person or persons, including Renter, using or possessing the
Equipment with Renter’s express or implied consent.</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%">I have read,
understood and accept the Musical Instrument Rental Agreement. 
</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%">____________________________________________________________________</p>
<p style="margin-bottom: 0in; line-height: 100%">Renter
										Date 
</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%">EQUIPMENT
						Begin Date         End Date</p>
<p style="margin-bottom: 0in; line-height: 100%">1)
____________________________________________________________________ 
</p>
<p style="margin-bottom: 0in; line-height: 100%">2)
____________________________________________________________________ 
</p>
<p style="margin-bottom: 0in; line-height: 100%">3)
____________________________________________________________________ 
</p>
<p style="margin-bottom: 0in; line-height: 100%">4)
____________________________________________________________________ 
</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%">I have received the
above equipment. 
</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%">________            
  	_________ 
</p>
<p style="margin-bottom: 0in; line-height: 100%">Renter Initial
		Date 
</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%">Month-to-month
Rental Fee for above Equipment: ________</p>
<p style="margin-bottom: 0in; line-height: 100%">Daily Rate:
	___________</p>
</body>
</html>