<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
	<title></title>
	<meta name="generator" content="LibreOffice 6.4.6.2 (Linux)"/>
	<meta name="created" content="2021-05-31T10:05:31.008590195"/>
	<meta name="changed" content="2021-06-03T12:51:33.092707168"/>
	<style type="text/css">
		@page { size: 8.5in 11in; margin: 0.79in }
		p { margin-bottom: 0.1in; line-height: 115%; background: transparent }
	</style>
</head>
<body lang="en-US" link="#000080" vlink="#800000" dir="ltr"><p style="margin-bottom: 0in; line-height: 100%">
Ruby codebase</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%">def get_size(w,h,d)
# gets the surface area and volume of an object with width height and
depth.</p>
<p style="margin-bottom: 0in; line-height: 100%">  surface_area =
(2*(h*d))+(2*(d*w))+(2*(w*h))</p>
<p style="margin-bottom: 0in; line-height: 100%">  volume = w*h*d</p>
<p style="margin-bottom: 0in; line-height: 100%">  return
([surface_area,volume])</p>
<p style="margin-bottom: 0in; line-height: 100%">end</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%">----</p>
<p style="margin-bottom: 0in; line-height: 100%">def bmi(weight,
height) # calculate body mass index within 1/10th degree of error</p>
<p style="margin-bottom: 0in; line-height: 100%">  bomi =
weight/(height*height)</p>
<p style="margin-bottom: 0in; line-height: 100%">  solution = &quot;&quot;</p>
<p style="margin-bottom: 0in; line-height: 100%">  case bomi</p>
<p style="margin-bottom: 0in; line-height: 100%">    when 1 .. 18.5</p>
<p style="margin-bottom: 0in; line-height: 100%">      solution =
&quot;Underweight&quot;</p>
<p style="margin-bottom: 0in; line-height: 100%">    when 18.51 .. 25</p>
<p style="margin-bottom: 0in; line-height: 100%">      solution =
&quot;Normal&quot;</p>
<p style="margin-bottom: 0in; line-height: 100%">    when 25.01 .. 30</p>
<p style="margin-bottom: 0in; line-height: 100%">      solution =
&quot;Overweight&quot;</p>
<p style="margin-bottom: 0in; line-height: 100%">    when 30 .. 100</p>
<p style="margin-bottom: 0in; line-height: 100%">      solution =
&quot;Obese&quot;</p>
<p style="margin-bottom: 0in; line-height: 100%">    end</p>
<p style="margin-bottom: 0in; line-height: 100%">  return (solution)</p>
<p style="margin-bottom: 0in; line-height: 100%">end</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%">-----</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
</body>
</html>