<body lang="en-US" link="#000080" vlink="#800000" dir="ltr"><p style="margin-bottom: 0in; line-height: 100%">
Ruby codebase</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>

<% def get_size(w,h,d)
# gets the surface area and volume of an object with width height and depth.
  surface_area = (2*(h * d))+(2*(d * w))+(2* (w * h))
  volume = w * h * d
  return ([ surface_area , volume])
end %>
<br/>
Calculate The surface area of a cube with the above width height and depth
<br>
<label for="width">Width</label>
<input type="text" id="width" value="">
<br>
<label for="height">Height</label>
<input type="text" id="height" value="">
<br>
<label for="depth">Depth</label>
<input type="text" id="depth" value="">
<br>
<div id="answer">

</div>
<button type="button" value="Submit"  onclick="getsize(document.getElementById('width').value,document.getElementById('height').value,document.getElementById('depth').value)">Calculate</button>

----
<% def bmi(weight,height) # calculate body mass index within 1/10th degree of error
  bomi = weight/(height*height)
  solution = ""
  case bomi
    when 1 .. 18.5
      solution = "Underweight"
    when 18.51 .. 25
      solution = "Normal"
    when 25.01 .. 30
      solution = "Overweight"
    when 30 .. 100
      solution = "Obese"
    end
  return (solution)
end %>
<br/>


<p style="margin-bottom: 0in; line-height: 100%">-----</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
</body>
