<h1>Welcome#script</h1>
Kardashevian stellar transport


humans and biological creatures will need to be able to travel and move resources from one space to the next

high gravity planets require towtrucks and wheels. low gravity planets with minimum air friction require springs.

vehicle recoveries require the systems to be conjoined somewhat, the springiness and deformation strength of the tire wheels being compounded with the springs to absorb vehicle shock. 

forward momentum should be determined on two calculations. terrain friction % (flatness, smoothness, gravity time) and atmospheric friction ( atmospere thickness, planet size, orbital energy, escape velocity)




the highest order of kardashevian civizilation realizes that the answer to this problem is in the cheapest availablity and use of light, chemical, or atomic energy. The instruments to harvest these energies are a main factor for the choice of one or the other. Close to the sun, solar energy was abundant. coatings and Panels of material were produced

as pointed out by a colleague, stellar travel does require a timing factor.
analyzing this problem more effectively, at todays writing, 8/21/2020, the fastest speed is the parker solar probe, (which is travelling at 68.6 km/s) to travel from the sun to neptune, would take 760 days, or approximately 2 years to get to. this would require either a cryogenically frozen state to feasibly attain. Shutting down human function until the moment of movement is required would be important to do. 
