<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
	<title></title>
	<meta name="generator" content="LibreOffice 6.0.3.2 (Linux)"/>
	<meta name="created" content="2018-12-31T11:38:21.318345366"/>
	<meta name="changed" content="2018-12-31T13:52:29.693684578"/>
	<style type="text/css">
		@page { margin: 0.79in }
		p { margin-bottom: 0.1in; line-height: 115% }
		a:link { so-language: zxx }
	</style>
</head>
<body lang="en-US" dir="ltr">
<p style="margin-bottom: 0in; line-height: 100%">Techit is in the
beginnings of making it’s stock program official.</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%">Our goal is to offer
a stock, warrants, bonds, loans, and defined retirement plans in a
flat playing field, where government, business entity, or differences
of consumer do not exist. These issuances are to take on more
profitable projects and to begin the path of returning true value to
you. 
</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%">However, we will
start at step one, as the most primitive manner of starting.</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%">As of December 31,
2018, Techit will offer 4% ownership out to the public of it’s
business as stated in 2019’s publicly published statements on this
website in the form of stocks. There will be issued 4,000,000
outstanding shares issued (of 100,000,000 ) at the initial price of
.01.</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%">As of December 31,
2018, $5000 bonds at 10, 20, and 30 year expirations will be issued.
These bonds will be useful as a metric of the business as it will
fuel TechIT’s growth to take on valuable and value returning
projects, and also provide more quality back to it’s audience and
it’s stakeholders. A payment schedule is shown below:</p>
<p style="margin-bottom: 0in; line-height: 100%"><img src="stockissuance_html_bb473a104a1a782d.gif" name="Object1" align="left" width="250" height="59"/>
<br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%">To inquire, order,
and purchase a bond or a stock certificate of ownership, please call
2012048791, leave a message, send an email to <a href="mailto:techitoffice@gmail.com">techitoffice@gmail.com</a>
with a copy of your identification, and send a text with the
following information : your name, address, Bond/stock purchase/stock
sale, quantity, currency amount, email, and desired date of purchase.
We will get back to you promptly. Purchases/sales are not immediate
and may take 1-7 business days after payment for certificates to be
fully issued.</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%">We have a minor goal
to distribute a dividend eventually, but it will take some time in
order for this to become properly achievable as assets grow. 
</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
</body>
</html>
