<h1 style="center">Stock related repos</h1>
<h6>
  <p style="margin-bottom: 0in; line-height: 100%" size="50%">2.9.2018-12.2,2018 (most recent update)<br/>

    <a href="https://github.com/vedabrat/techit_ror/tree/Stocks">View Commit History</a>
  </h6>
<button type="button" name="button" onclick="hide()">TODO</button>
<button type="button" onclick="unhide()" name="button">Show/hide the stocklist</button>
  <div id="TODO" hidden='true'>
    <input type="text" id="2du" name="" value="">
    <script type="text/javascript">
      var freeitem = "";
      var toDoItems = [] ;

      function addTODO(){
        // document.getElementById('2du').value = freeitem;
        console.log (freeitem);
        console.log (toDoItems);
        console.log (toDoItems.length);
        console.log ("is now set");
        // (freeitem == "")?( ):(freeitem = toDoItems.length + ". " + freeitem +" <br> " );
        //returns a line that is textually formatted for the html conversion
        // if the blow code is right.. we'll  see free item
        // document.getElementById('todoITEMS').innertext = toDoItems ;

      }

    </script>
    <button type="button" name="button" onclick="addTODO()">ADD (broken function)</button><br>
      <div id="todoITEMS" >
        1.Create a free column to the left of each line of data<br>
        2. Style the items to have a better look and feel. <br>

      </div>


  </div>
<div id="oldstuff" class="module" hidden="true">

</p>
<p style="margin-bottom: 0in; line-height: 100%">
  <%= link_to "Certain Stocks are recession proof and depression proof.", "https://www.investopedia.com/articles/fundamental-analysis/09/recession-proof-industries.asp" %>
  <br />
Here's a collected list of stocks we can keep an eye on. <br/>
Let me know if you want other metrics with stock links or anything relevant.
</p>
<p style="margin-bottom: 0in; line-height: 100%"></p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>
</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>
	<form action="https://getsimpleform.com/messages?form_api_token=b83fe0c887136349bbccf84ea8b5656c" method="post">
	  <!-- the redirect_to is optional, the form will redirect to the referrer on submission -->
</p>
<p style="margin-bottom: 0in; line-height: 100%">Submit a Stock to watch	</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>
  <input type='text' name='Ticker' /><br />
  Suggested buy in price: <br />
  <input type='text' name='Suggested buy in' /><br />
  <div id="instancedate" style="{display:none;}">
	<input type='text' name='Date' id="date"/>
  <div>
</p>
	<input type='submit' value='Submit.' />
</form>

</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>
  Live data for:
</br></br>
  <!--  First Stock Teplate-->
<!--  at least this area here lets me get to the quarterly statements... i have to figure out how to get to the annual statements.. thats what i need.
https://iextrading.com/developer/docs/#financials is the resource for all the extentions i need...
there are many more values in this system that i need to be able to pull at a moment's glance.. keep working on this.
-->
  </br></br>
  <!--  Stock Template End -->

  <!--  First Stock Teplate-->
</p>
</div>
</div>
<script>
function stockvar(){
  var stub = document.getElementById('stockname').value;
}
</script>
<p style="margin-bottom: 0in; line-height: 100%"><br/>
</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>
</p>
Pick a stock <input type="text" id="stockSelection" value="">
Revenue
<script>
document.getElementById('date').value = new Date().toJSON().slice(0,10).replace(/-/g,'/');
</script>
<div class="module">
</div>
</div>
      <div id="intrinsicCalc" >
        Note: things that need updating. Live numbers to be updated.
        update stock metrics button needs a function.<br>
        numbers need to be formatted better
        <input type="text" name="changeStock" value="" placeholder="Enter Stock Here">
        <button type="button" name="button" onclick="" >Update Stock Metrics</button>

        <br>
        Operating cash flow yr 1 <input id="opercf1" type="number" name="" value="">
        <br>
        Operating cash flow yr 2 <input id="opercf2" type="text" name="" value="">
        <br>
        Operating cash flow yr 3 <input id="opercf3" type="text" name="" value="">
        <br>Operating Cash flow average <span id="OpCfAvg"></span>
        <br>
        Cost of equity <input id="costofe" type="text" name="" value="">
        <br>
        Growth <input id="growth" type="text" name="" value="">
        <br> Discount Rate
      <span id="discountrate">
      </span>
        <br>Enterprise Value
      <span id="enterprisevalue">
      </span>
        <br>
        Long Term Debt <input id="longtermdebt" type="text" name="" value="">
        <br>
          Operating Lease <input id="operatinglease" type="text" name="" value="">
        <br>Debt + Lease Liability
      <span id="debtleaseobligation">
      </span>
      <br>
          Tax Rate <input id="taxrate" type="text" name="" value="">
          <br>
          Interest <input id="interest" type="text" name="" value="">
          <br>
          Years of Tax Shield <input id="yearsoftaxshield" type="text" name="" value="">
        <br>Tax Shield Value
      <span id="taxshieldvalue">
      </span>
        <br>Net Present Value
      <span id="npv">
      </span>
        <br>
          Shares (in millions) <input id="sharesinmillions" type="text" name="" value="">
        <br>Intrinsic Value
      <span id="intrinsicvalue">
      </span>
        <br>
          Current Price <input id="currentprice" type="text" name="" value="">
          <br>Safety Margin
        <span id="safetymargin">
        </span>
          <br>
      </div>
<script>
  var OperCf1 = 2498728;
  var OperCf2 = 1935306;
  var OperCf3 = 2251233;
  document.getElementById('opercf1').value = OperCf1;
  document.getElementById('opercf2').value = OperCf2;
  document.getElementById('opercf3').value = OperCf3;

  function getAvg(grades) {  return grades.reduce(function (p, c) {    return p + c;  }) / grades.length;}

  var operCfAvg = getAvg([OperCf1, OperCf2, OperCf3]);
  console.log ("This is the Average cash flow. should be 2,228,422");
  document.getElementById('OpCfAvg').innerText = operCfAvg;

  var costOfEquity = .14;
  document.getElementById('costofe').value = costOfEquity;
  var growth = .00; //can increment by .01 percent
  document.getElementById('growth').value = growth;
  var discountRate = costOfEquity - growth;
  document.getElementById('discountrate').innerText = discountRate;

  var enterpriseValue = operCfAvg/discountRate;
  document.getElementById('enterprisevalue').innerText = enterpriseValue;

  var ltDebt = 3086200;
  document.getElementById('longtermdebt').value = ltDebt;

  var operatingLease = 0;
  document.getElementById('operatinglease').value = operatingLease;

  var debtLeaseObligation = -1*(ltDebt + operatingLease);
  document.getElementById('debtleaseobligation').innerText = debtLeaseObligation;
  console.log ("This is the debt/lease obligation. should be 3086200");
  console.log (debtLeaseObligation);

  var taxRate = .34;
  document.getElementById('taxrate').value = taxRate;
  var interest = 134554;
  document.getElementById('interest').value = interest;
  var yrsOfTaxShield = 5;
  document.getElementById('yearsoftaxshield').value = yrsOfTaxShield;

  var taxShieldValue = (taxRate*interest/costOfEquity)*(1-(1/Math.pow((1+costOfEquity),yrsOfTaxShield)))
  document.getElementById('taxshieldvalue').innerText = taxShieldValue;
  console.log ("This is the tax shield Value. should be 157058");
  console.log (taxShieldValue);

  var npv = enterpriseValue + debtLeaseObligation + taxShieldValue;
  document.getElementById('npv').innerText = npv;
  console.log ("This is the NPV. should be 12988160");
  console.log (npv);

  var sharesInMil = 314.03;
  document.getElementById('sharesinmillions').value = sharesInMil;
  var intrinsicVal = (npv/sharesInMil)/1000;
  document.getElementById('intrinsicvalue').innerText = intrinsicVal;

  console.log ("This is the intrinsicValue. should be 41.36");
  console.log (intrinsicVal);

  var currentPrice = 39.08;
  document.getElementById('currentprice').value = currentPrice;

  var safetyMargin = intrinsicVal/currentPrice-1;
  document.getElementById('safetymargin').innerText = safetyMargin;

  console.log ("This is the safety margin. should be .06");
  console.log (safetyMargin);

  function unhide(){
      (document.getElementById('oldstuff').hidden == false)? (document.getElementById('oldstuff').hidden = true): (document.getElementById('oldstuff').hidden = false) ;
  }
  function hide(){
      (document.getElementById("TODO").hidden == false)? (document.getElementById("TODO").hidden = true): (document.getElementById("TODO").hidden = false) ;
  }
</script>

<script type="text/javascript">
  // TODO:
  //     As my hunt to find work continues, i will use these tools on the web to help myself.
  //     The site must service someone, and if there are none to see this, then it must be myself.
  //     As such, i would like the function of this page to be as follows
  //     1. Give me the tools to, at a glance manage all functions of my internet loaning business. I currently have a snowball of
  //     payments from David Salazar accruing. This business was backed by my knowledge in finance and old contracted lending business. (there is an extensive spreadsheet in the public folder.)
  //     This model must be put into production!
  //     One feature of monitoring repayment times.
  //     One feature is an efficient frontier map. 30 yr treasury notes are 3.75%. something you can make 1 dollar to 2.7 if you invested when you were 30.
  //     investing in the s&p500 is also a better bet
  //     2. Design a Mechanize crawler  to go into google finance and then update a csv and update Beta Risk and Expected yearly returns of stocks
  //     The S&P 500 average Yearly is 9 percent
  //
 //     He is the outlier of this model that i want to create.
  //     what i would like to do is create a system which monitors the interest rate on a certain loan portfolio.
  //     Interest rate is calculated by beginning investment amount.Some will be bonds and some will be personal loans.
  //     The goal of the portfolio is to create an index of well researched stocks that are well suited for trading under very secure means.
  //     The loan portfolio consists of individual loans with expected values, and expected paybacks. The amounts start high,
  //     But if ammendments are made to the agreements or late fees accrue, you are penalized and must pay more. Reagreements must be made yearly
  //     or else collatoral will be assessed.
  //
  //    the user view i would like is to actually see a stock live before me. let a button let me purchase that stsock with a limit buy or a regular buy.
  //    go and get the chance to sell that stock as well.
  //    a portfolio is created with a history of your trades. these trades build your portfolio number.
  // There was another dream i had where i would own stocks and let people within my circle claim ownership of that stock under me. they would trade it between eachother
  //  and every time, as i charge commission to register who truly owns it under me (and could get credit at the time they choose of withdrawal) they would collect their
  // money from gains on the stock that they traded under me.


</script>
<script type="text/javascript">
</script>
<div>

</div>
<div>
    <canvas id="myChart"></canvas>
</div>
<script type="text/javascript">
  var sp520210616 = ["T","0.76","7.09"," MO","0.65","6.91"," OKE","1.97","6.79"," LUMN","1.08","6.64"," WMB","1.52","5.90"," PPL","0.77","5.66"," KMI","1.12","5.64"," XOM","1.41","5.60"," IRM","0.82","5.34"," CVX","1.30","4.97"," PM","0.85","4.86"," VLO","2.14","4.82"," EIX","0.61","4.57"," ABBV","0.80","4.51"," VZ","0.46","4.38"," PRU","1.68","4.36"," IBM","1.22","4.34"," VNO","1.40","4.24"," HBAN","1.36","4.15"," SO","0.45","4.13"," GILD","0.39","4.13"," DOW","0","4.12"," FE","0.23","4.02"," O","0.75","4.01"," ED","0.17","4.01"," PBCT","1.20","3.99"," PSX","1.67","3.96"," PFE","0.72","3.89"," SPG","1.55","3.87"," AMCR","0","3.84"," LYB","1.52","3.82"," PNW","0.30","3.79"," DUK","0.25","3.79"," WU","1.01","3.77"," PFG","1.64","3.76"," UNM","1.71","3.75"," CMA","1.63","3.69"," KHC","1.13","3.68"," MPC","2.16","3.67"," K","0.65","3.56"," KMB","0.53","3.51"," REG","1.14","3.49"," NRG","0.81","3.49"," ETR","0.55","3.49"," AEP","0.26","3.49"," PEAK","0.70","3.45"," FRT","1.17","3.43"," MRK","0.41","3.41"," WBA","0.46","3.38"," NI","0.32","3.38"," KEY","1.55","3.37"," OMC","0.94","3.34"," EVRG","0.37","3.33"," PEG","0.57","3.30"," NWL","0.95","3.28"," CAH","1.08","3.27"," CFG","1.75","3.26"," GIS","0.56","3.26"," EXC","0.44","3.26"," D","0.37","3.26"," BEN","1.24","3.22"," IP","1.05","3.22"," CPB","0.57","3.21"," BXP","1.25","3.18"," IPG","1.04","3.16"," DTE","0.65","3.13"," NEM","0.31","3.13"," TFC","1.34","3.10"," VTR","1.30","3.10"," SRE","0.66","3.09"," KIM","1.53","3.08"," HBI","1.53","3.07"," WELL","1.04","3.06"," AVGO","0.95","3.06"," HPE","1.25","3.02"," GPS","1.69","3.00"," MET","1.31","2.99"," KO","0.62","2.99"," EQR","0.78","2.98"," LEG","1.51","2.96"," AVB","0.95","2.96"," CAG","0.87","2.95"," MMM","0.96","2.92"," WEC","0.19","2.92"," BMY","0.62","2.91"," ES","0.32","2.91"," AMGN","0.71","2.90"," RF","1.55","2.88"," UDR","0.73","2.88"," COP","1.75","2.87"," CMS","0.18","2.87"," DLR","0.12","2.86"," MTB","1.19","2.84"," USB","1.17","2.84"," VTRS","1.50","2.80"," HAS","0.97","2.79"," JNPR","0.82","2.79"," BKR","1.74","2.78"," PKG","0.92","2.78"," STX","1.18","2.77"," PEP","0.62","2.77"," LNT","0.34","2.75"," CCI","0.38","2.74"," CSCO","0.90","2.70"," PSA","0.10","2.70"," LMT","0.98","2.68"," C","1.90","2.67"," FITB","1.59","2.66"," ESS","0.74","2.66"," SJM","0.34","2.64"," XEL","0.31","2.63"," HPQ","1.03","2.59"," PG","0.42","2.58"," JNJ","0.72","2.57"," AEE","0.27","2.56"," COG","0.13","2.55"," GPC","1.13","2.53"," CLX","0.18","2.52"," PAYX","0.90","2.51"," EXR","0.18","2.51"," GD","1.12","2.49"," LNC","2.22","2.48"," WHR","1.88","2.48"," STT","1.58","2.48"," ZION","1.56","2.46"," AIG","1.36","2.46"," BK","1.07","2.46"," ALL","0.85","2.46"," ATO","0.40","2.46"," BBY","1.54","2.45"," CNP","0.99","2.45"," RE","0.66","2.44"," PNC","1.37","2.43"," INTC","0.61","2.40"," VFC","1.43","2.39"," MAA","0.65","2.39"," NTRS","1.10","2.38"," AFL","1.00","2.35"," CVS","0.80","2.34"," IVZ","1.29","2.32"," AES","0.81","2.32"," RTX","1.56","2.30"," NTAP","1.26","2.30"," TSN","0.84","2.30"," TRV","0.76","2.28"," VIAC","1.67","2.27"," SYY","1.43","2.25"," JPM","1.18","2.25"," ARE","0.74","2.25"," RL","1.53","2.24"," ADM","0.90","2.24"," CF","1.27","2.23"," TROW","1.17","2.23"," GLW","1.16","2.22"," EMN","1.51","2.20"," MCD","0.63","2.18"," CMI","1.07","2.16"," TXN","1.03","2.16"," DVN","3.33","2.15"," HIG","1.08","2.15"," CL","0.60","2.15"," FAST","1.25","2.13"," HD","1.05","2.12"," NEE","0.18","2.10"," EMR","1.54","2.08"," IFF","0.97","2.08"," ETN","1.14","2.07"," CINF","0.67","2.07"," DRE","0.54","2.07"," SNA","1.29","2.06"," HII","1.01","2.06"," CHRW","0.71","2.04"," QCOM","1.34","2.02"," PLD","0.75","2.02"," AAP","1.37","2.01"," PRGO","1.18","2.01"," UPS","1.06","2.01"," HRL","-0.07","2.01"," APD","0.77","2.00"," MDLZ","0.67","1.98"," ITW","1.11","1.96"," DGX","1.04","1.95"," EOG","2.15","1.93"," WY","1.88","1.93"," CB","0.71","1.92"," BLK","1.17","1.88"," CAT","0.92","1.87"," MDT","0.81","1.87"," ADP","0.73","1.86"," KR","0.35","1.86"," MXIM","1.20","1.85"," GRMN","1.06","1.85"," AMT","0.23","1.85"," HSY","0.37","1.84"," FANG","2.73","1.83"," LHX","0.88","1.83"," SYF","1.81","1.78"," CMCSA","1.04","1.76"," AMP","1.68","1.75"," UNP","1.14","1.75"," NLOK","0.64","1.75"," BAC","1.56","1.72"," CE","1.22","1.70"," APH","1.24","1.69"," RHI","1.56","1.68"," CME","0.45","1.68"," YUM","1.09","1.67"," ADI","1.25","1.65"," HON","1.15","1.65"," CI","0.91","1.65"," WM","0.81","1.64"," ABT","0.69","1.64"," AIZ","0.63","1.62"," JCI","1.10","1.61"," FMC","1.00","1.61"," MAS","1.34","1.60"," SBUX","0.88","1.60"," TJX","0.99","1.58"," WMT","0.48","1.56"," NOC","0.83","1.55"," RSG","0.71","1.55"," ORCL","0.78","1.54"," MKC","0.47","1.53"," MS","1.54","1.52"," NUE","1.40","1.52"," LLY","0.25","1.52"," ROK","1.35","1.51"," AOS","1.05","1.51"," AWK","0.22","1.50"," PCAR","1.00","1.47"," ABC","0.54","1.47"," CBOE","0","1.47"," TEL","1.35","1.46"," NSC","1.30","1.46"," LIN","0.80","1.46"," DD","1.58","1.45"," SLB","2.39","1.43"," DFS","1.82","1.43"," GWW","1.21","1.41",
  "BR","0.88","1.41"," EQIX","0.28","1.41"," WRK","1.27","1.40"," PXD","1.92","1.38"," SWK","1.44","1.38"," BDX","0.77","1.37"," PH","1.78","1.36"," BAX","0.68","1.36"," CTSH","1.15","1.35"," MMC","0.91","1.34"," MSI","0.76","1.34"," AJG","0.71","1.33"," GS","1.48","1.32"," DOV","1.37","1.30"," BWA","1.55","1.29"," STZ","1.21","1.28"," TT","0.99","1.27"," LDOS","0.89","1.27"," FOX","0","1.27"," LOW","1.34","1.26"," UNH","0.78","1.26"," NDAQ","0.85","1.25"," AVY","1.02","1.24"," ACN","1.09","1.23"," CTXS","0.15","1.23"," PPG","1.13","1.22"," FOXA","0","1.21"," MRO","3.22","1.19"," RJF","1.24","1.19"," PNR","1.16","1.19"," CHD","0.38","1.19"," OTIS","0","1.19"," ANTM","1.05","1.18"," XLNX","1.00","1.18"," SWKS","1.07","1.17"," TGT","1.00","1.17"," ICE","0.73","1.17"," CTVA","0","1.17"," CSX","1.16","1.15"," TSCO","1.03","1.13"," JKHY","0.59","1.13"," HES","2.21","1.12"," NXPI","1.42","1.12"," KLAC","1.23","1.12"," LW","0.77","1.12"," DRI","1.53","1.11"," WLTW","0.81","1.10"," SEE","1.26","1.09"," LEN","1.50","1.08"," CERN","0.73","1.08"," EBAY","1.13","1.07"," FIS","0.86","1.07"," FBHS","1.65","1.05"," AXP","1.28","1.05"," DE","1.05","1.05"," ALLE","1.20","1.04"," CARR","0","1.04"," PHM","1.46","1.03"," MCHP","1.67","1.01"," COF","1.76","1.00"," SYK","0.98","0.99"," IEX","1.09","0.98"," SCHW","1.06","0.97"," ROL","0.52","0.96"," CDW","1.10","0.95"," ROST","1.05","0.95"," XYL","1.02","0.95"," ALB","1.55","0.92"," NLSN","1.45","0.92"," HCA","1.65","0.91"," LB","1.78","0.90"," DHI","1.66","0.90"," ECL","1.00","0.90"," WFC","1.35","0.88"," FDX","1.26","0.88"," MSFT","0.79","0.87"," MCK","0.88","0.86"," CTAS","1.48","0.85"," VMC","0.59","0.85"," NKE","0.86","0.83"," EXPD","0.79","0.83"," COST","0.65","0.83"," DPZ","0.49","0.83"," AON","0.84","0.82"," LRCX","1.28","0.81"," STE","0.55","0.81"," DG","0.52","0.80"," SHW","1.08","0.79"," SPGI","0.96","0.78"," NWS","0","0.78"," GL","1.14","0.76"," HAL","2.84","0.75"," NWSA","1.58","0.75"," INFO","0.97","0.74"," BLL","0.43","0.74"," FCX","2.16","0.73"," KSU","1.10","0.73"," JBHT","1.03","0.73"," SBAC","0.20","0.73"," MCO","1.16","0.72"," EL","0.94","0.71"," RMD","0.29","0.71"," AMAT","1.45","0.70"," AAPL","1.21","0.69"," EFX","1.42","0.68"," HUM","0.89","0.67"," VRSK","0.78","0.67"," MSCI","0.96","0.65"," MLM","0.65","0.65"," WRB","0.84","0.63"," ZBH","1.36","0.61"," XRAY","0.93","0.61"," J","0.89","0.60"," MKTX","0.39","0.60"," WAB","1.65","0.59"," AME","1.33","0.59"," MOS","1.86","0.58"," ZTS","0.64","0.55"," A","1.00","0.54"," V","0.99","0.54"," POOL","0.79","0.54"," UHS","1.21","0.50"," INTU","0.99","0.50"," ROP","1.03","0.49"," MA","1.18","0.48"," ATVI","0","0.48"," FRC","1.10","0.46"," EA","0.89","0.46"," APA","4.91","0.44"," L","0.93","0.44"," PGR","0.47","0.43"," GPN","1.19","0.40"," FTV","1.13","0.39"," TFX","1.19","0.35"," DHR","0.71","0.34"," ODFL","1.02","0.32"," TER","1.28","0.31"," GE","1.08","0.29"," PWR","1.26","0.26"," TMO","0.77","0.22"," WST","1.00","0.20"," PKI","1.11","0.19"," OXY","2.46","0.14"," TXT","1.79","0.12"," NVDA","1.36","0.09"," MGM","2.45","0.02"," COO","0.83","0.02"," CZR","3.18","0.00"," NCLH","2.85","0.00"," RCL","2.83","0.00"," PENN","2.57","0.00"," WYNN","2.46","0.00"," DXC","2.44","0.00"," PVH","2.38","0.00"," CCL","2.32","0.00"," NOV","2.30","0.00"," DISH","2.15","0.00"," APTV","2.11","0.00"," SIVB","2.05","0.00"," URI","2.05","0.00"," AMD","2.04","0.00"," TSLA","2.00","0.00"," HWM","1.99","0.00"," MAR","1.89","0.00"," AAL","1.83","0.00"," ALK","1.81","0.00"," EXPE","1.77","0.00"," ULTA","1.71","0.00"," ALGN","1.70","0.00"," LKQ","1.66","0.00"," KMX","1.65","0.00"," BA","1.63","0.00"," TDG","1.63","0.00"," UAL","1.62","0.00"," WDC","1.60","0.00"," IT","1.59","0.00"," ZBRA","1.58","0.00"," MHK","1.57","0.00"," TPR","1.57","0.00"," ETSY","1.55","0.00"," IR","1.52","0.00"," TRMB","1.52","0.00"," CBRE","1.49","0.00"," IQV","1.46","0.00"," LVS","1.46","0.00"," FLT","1.45","0.00"," CTLT","1.44","0.00"," DAL","1.44","0.00"," HST","1.43","0.00"," PAYC","1.40","0.00"," QRVO","1.40","0.00"," DISCA","1.37","0.00"," IPGP","1.37","0.00"," LYV","1.37","0.00"," CMG","1.35","0.00"," GM","1.34","0.00"," ADSK","1.33","0.00"," HLT","1.32","0.00"," ABMD","1.30","0.00"," FB","1.30","0.00"," DVA","1.29","0.00"," UAA","1.28","0.00"," BKNG","1.27","0.00"," ALXN","1.26","0.00"," MU","1.26","0.00"," LUV","1.25","0.00"," ANSS","1.22","0.00"," PTC","1.22","0.00"," DIS","1.20","0.00"," HOLX","1.18","0.00"," PYPL","1.16","0.00"," AMZN","1.15","0.00"," ANET","1.15","0.00"," ENPH","1.15","0.00"," CRL","1.14","0.00"," F","1.13","0.00"," TAP","1.13","0.00"," TDY","1.13","0.00"," MNST","1.11","0.00"," FTNT","1.10","0.00"," EW","1.09","0.00"," ORLY","1.09","0.00"," CRM","1.09","0.00"," FFIV","1.06","0.00"," ISRG","1.05","0.00"," LH","1.05","0.00"," SNPS","1.04","0.00"," CPRT","1.03","0.00"," MTD","1.02","0.00"," NVR","1.02","0.00"," GOOGL","1.01","0.00"," CDNS","1.00","0.00"," CHTR","0.99","0.00"," ADBE","0.95","0.00"," AZO","0.95","0.00"," ILMN","0.94","0.00"," NOW","0.93","0.00"," KEYS","0.91","0.00"," FISV","0.90","0.00"," GNRC","0.90","0.00"," BSX","0.89","0.00"," HSIC","0.89","0.00"," IDXX","0.89","0.00"," DLTR","0.87","0.00"," BIO","0.83","0.00"," VRSN","0.82","0.00"," WAT","0.81","0.00"," INCY","0.80","0.00"," DXCM","0.77","0.00"," TWTR","0.76","0.00"," NFLX","0.75","0.00"," VRTX","0.66","0.00"," TYL","0.58","0.00"," TMUS","0.57","0.00"," TTWO","0.57","0.00"," CNC","0.49","0.00"," BIIB","0.42","0.00"," AKAM","0.41","0.00"," REGN","0.18","0.00"," GOOG","0","0.00"," BRK.B","0","0.00"," BF.B","0","0.00"," DISCK","0","0.00"," MPWR","0","0.00"," OGN","0","0.00","UA","0","0.00"]

  var stockarr = [sp520210616.filter((_,i) => i % 3 == 0)]
  var betaarr = [sp520210616.filter((_,i) => i % 3 == 1)]
  var dividarr  = [sp520210616.filter((_,i) => i % 3 == 2)]

  console.log([dividarr], [betaarr], [stockarr])

  var dataobj = [];
  for (var i = 0 ; i > stockarr.length; i++){
    console.log(betaarr[0][i])
  }
  console.log (dataobj)

</script>
