<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
	<title></title>
	<meta name="generator" content="LibreOffice 5.1.6.2 (Linux)"/>
	<meta name="created" content="2018-10-16T22:23:19.013167240"/>
	<meta name="changed" content="2018-10-16T23:45:58.953856289"/>
	<style type="text/css">
		@page { margin: 0.79in }
		p { margin-bottom: 0.1in; line-height: 120% }
	</style>
</head>
<body lang="en-US" dir="ltr">
<p style="margin-bottom: 0in; line-height: 100%">October 16, 2018</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%">Thivashnee. 
</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%">	Oh god, how I've
messed up.</p>
<p style="margin-bottom: 0in; line-height: 100%">I owe you the
contents of my heart. you’ve given me all of yours. And I haven’t
honored you as you should be honored.</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%">	I’m sorry. That
first moment that I noticed something amiss where the chance to waver
appeared - I should’ve known better as to what it was. How the
slippery slope of entertaining conversation would have led me astray.
A long time ago, I thought I knew how to respect love, but the fight
to stay pristine catches me. And I'm not the most aware fighter of
these things. Today, I told myself that the mentality of ‘no new
friends’ should’ve been followed if I wanted to keep what I had
with you. Why do all the realizations come unearthed only after the
avalanches?<br/>
<br/>
	Upon reading what I'm writing, a sense of me
describing self victimization arises.  I feel slightly so in the
mentality that “I am composed of light and dark. And the actions
that dwell in the dark are not the conscious actions that the light
in me wishes to allow”, but I take shared responsibility in
providing energy to this dark thing. I am ashamed that I did not see
it hunkering to damage your light. Only when light shines upon
shadows do we see the things that lie in the dark. I’m not a victim
because I did not play fair. I was not completely honest or open.
There should’ve been no locks between us. Nothing that you could
see that I should’ve felt that I needed to hide. 
</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%">	My senses have not
been able to watch for the warning. Not all positive feedback from
actions engaged in is truly good. And stages of life dictate which
actions and positive feedbacks should be catered to. Even when I was
‘trained’ to be manly and take on things to prove my worth to
others that led to a positive social feedbacks, those things are now
impediments in signaling what a true positive feedback is in concerns
to the specific pursuits in life. I am an idiot for not realizing
that the lack of  positive feedback didn’t mean I was worse off for
the day, but that the thing that I really wanted would have been able
to go much further if I withheld. 
</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%">	These are the
things in myself that I’ve noticed have been impeding me from being
properly faithful to you. <br/>
	While we were dating. I only had
eyes for you. I still don’t care to see behind anyone else’s eyes
besides yours. You deserve so much. What was good in me was attracted
to the good in you. There was nothing bad in you, but there was in
me. My own ignorance. Self ignorance. Selfishness. And then the
hiding and concealing. I know now that this hiding and concealing
nature isn't a good thing whatsoever. Completely open book is the
only way forward. I wish I could have another chance with you. 
</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%">	I didn't see what
all my actions came together to make happen . I didn't realize I was
throwing away what I wanted with you by feeding into things that gave
me selfish positive feedback. I had tried multiple times to quit. The
only way I knew out was one person demonizing the other in some way,
but her helping me trying to find work kept establishing some sort of
common ground. I tried to be the horrible person a few times. I
should’ve realized the little subtle things she did that offended 
what I wanted and you. 
</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%">“you never know
how good things are until they’re gone”</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%">	God. I do. I don't
know if I've ever really managed to tell you how happy you’ve made
me. Discovering that we didn't drain each other and that nothing ever
felt forced between us. We didn't drive each other insane and
understood each other. Theres so much I see in other couples that
cause troubles and arguments and pains and issues and vendettas. We
didn't have that. I loved dreaming of the houses that we wanted. I
loved the nights of “screw what normal people do lets have our own
fun”. I wanted to walk forward with you. I saw this. A path like
it. 
</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%">	Long distance is
hard. I wish I took a strong and direct route and tried to best-case
worst-case the scenario out with you. I felt like there was a
romantic air between us that I didn't want to let you down on. Lo and
behold though. I didn't talk about it, and now the worst case has
arisen.</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%">	I want you to know
that. You don't deserve any of the pain I put you through. you’re
not a piece of shit like I am. you’re golden. you’re the smile a
child should see at the end of the day. The voice and cheerful
laughter that inspires happiness in those around you. you’re the
love that is conscious, giving, guiding and calm. Motivation like a
locomotive. Determination like a bull, and steady like a boulder.
Also, you’ve got thighs that can crush a man’s skull. I don't
want to take any of those things away from you. You’re a ray of
sunshine in so many people’s lives, don't let what I've done block
anyone from knowing that. Don't let me slow you down, derail, or put
you somewhere else than where you’re headed. Your wobbliness should
not be popped by a prick like I. I really want the best for you. I
wanted to be part of that, but I’m not the thing I wanted to be :(.
Keep improving yourself. Its one of the many things I know you
deserve. 
</p>
</body>
</html>