Every year on May 7th, submissions for the year will be closed and
other entries past 12 am on may 6th will go towards next years contest.
Every year a prize of $50 dollars will be given to the person who submit's an entry.
an entry will consist of bringing the plant (cut away from the dirt and not including any potting).
To officially enter, you must have the same species of plant provided to you by
Mr Vedabrat A. Etwaru.  
<br>


<h1>Mexican Mint Weigh in contest</h1>

<br>

<%= dates[0] %>
<br>
<%= names[0] %>
<br>
<%= gram_weight[0] %>








<script type="text/javascript">
		var dates = ["05/07/21",
"05/07/22", "05/07/23", "05/07/24", "05/07/25", "05/07/26", "05/07/27", "05/07/28", "05/07/29", "05/07/30", "05/07/31", "05/07/32", "05/07/33", "05/07/34", "05/07/35", "05/07/36", "05/07/37", "05/07/38", "05/07/39", "05/07/40", "05/07/41",
 "05/07/42", "05/07/43", "05/07/44", "05/07/45", "05/07/46", "05/07/47", "05/07/48", "05/07/49", "05/07/50", "05/07/51", "05/07/52", "05/07/53", "05/07/54", "05/07/55", "05/07/56", "05/07/57", "05/07/58", "05/07/59", "05/07/60",
 "05/07/61", "05/07/62", "05/07/63", "05/07/64", "05/07/65", "05/07/66", "05/07/67", "05/07/68", "05/07/69", "05/07/70", "05/07/71", "05/07/72", "05/07/73", "05/07/74", "05/07/75", "05/07/76", "05/07/77", "05/07/78", "05/07/79", "05/07/80",
 "05/07/81", "05/07/82",  "05/07/83", "05/07/84", "05/07/85", "05/07/86", "05/07/87", "05/07/88", "05/07/89", "05/07/90", "05/07/91", "05/07/92", "05/07/93", "05/07/94", "05/07/95", "05/07/96", "05/07/97", "05/07/98", "05/07/99", "05/07/00",
  "05/07/01", "05/07/02", "05/07/03", "05/07/04", "05/07/05", "05/07/06", "05/07/07", "05/07/08", "05/07/09", "05/07/10", "05/07/11", "05/07/12", "05/07/13", "05/07/14", "05/07/15", "05/07/16", "05/07/17", "05/07/18", "05/07/19", "05/07/20",
	"05/07/21", "05/07/22", "05/07/23",
	 "05/07/24", "05/07/25", "05/07/26", "05/07/27", "05/07/28", "05/07/29", "05/07/30", "05/07/31", "05/07/32", "05/07/33", "05/07/34", "05/07/35", "05/07/36", "05/07/37", "05/07/38", "05/07/39", "05/07/40", "05/07/41", "05/07/42", "05/07/43",
	 "05/07/44", "05/07/45", "05/07/46", "05/07/47", "05/07/48", "05/07/49", "05/07/50", "05/07/51", "05/07/52", "05/07/53", "05/07/54", "05/07/55", "05/07/56", "05/07/57", "05/07/58", "05/07/59", "05/07/60", "05/07/61", "05/07/62", "05/07/63", "05/07/64",
	  "05/07/65", "05/07/66", "05/07/67", "05/07/68", "05/07/69", "05/07/70", "05/07/71", ]
		var names = [
"Vedabrat A. Etwaru", "  ", "  ", "  ", "  ", "  ", "  ", "  ", "  ", "  ", "  ", "  ", "  ", "  ", "  ", "  ", "  ", "  ", "  ", "  ", "  ", "  ", "  ", "  ", "  ", "  ", "  ", "  ", "  ", "  ", "  ", "  ", "  ", "  ", "  ",
 "  ", "  ", "  ", "  ", "  ", "  ", "  ", "  ", "  ", "  ", "  ", "  ", "  ", "  ", "  ", "  ", "  ", "  ", "  ", "  ", "  ", "  ", "  ", "  ", "  ", "  ", "  ", "  ", "  ", "  ", "  ", "  ", "  ", "  ", "  ", "  ", "  ", "  ",
  "  ", "  ", "  ", "  ", "  ", "  ", "  ", "  ", "  ", "  ", "  ", "  ", "  ", "  ", "  ", "  ", "  ", "  ", "  ", "  ", "  ", "  ", "  ", "  ", "  ", "  ", "  ", "  ", "  ", "  ", "  ", "  ", "  ", "  ", "  ", "  ", "  ", "  ",
	 "  ", "  ", "  ", "  ", "  ", "  ", "  ", "  ", "  ", "  ", "  ", "  ", "  ", "  ", "  ", "  ", "  ", "  ", "  ", "  ", "  ", "  ", "  ", "  ", "  ", "  ", "  ", "  ", "  ", "  ", "  ", "  ", "  ", "  ", "  ", "  ", "  ", "  ",
	  "  ", "  ", "", 		]

		var gram_weight = [
"		800 g". "			  ", "			  ", "			  ", "			  ", "			  ", "			  ", "			  ", "			  ", "			  ", "			  ", "			  ", "			  ", "			  ", "			  ", "			  ", "			  ", "			  ", "			  ", "			  ",
 "			  ", "			  ", "			  ", "			  ", "			  ", "			  ", "			  ", "			  ", "			  ", "			  ", "			  ", "			  ", "			  ", "			  ", "			  ", "			  ", "			  ", "			  ", "			  ", "			  ",
  "			  ", "			  ", "			  ", "			  ", "			  ", "			  ", "			  ", "			  ", "			  ", "			  ", "			  ", "			  ", "			  ", "			  ", "			  ", "			  ", "			  ", "			  ", "			  ", "			  ", "			  ",
	 "			  ", "			  ", "			  ", "			  ", "			  ", "			  ", "			  ", "			  ", "			  ", "			  ", "			  ", "			  ", "			  ", "			  ", "			  ", "			  ", "			  ", "			  ", "			  ", "			  ",
	 "			  ", "			  ", "			  ", "			  ", "			  ", "			  ", "			  ", "			  ", "			  ", "			  ", "			  ", "			  ", "			  ", "			  ", "			  ", "			  ", "			  ", "			  ", "			  ", "			  ",
	  "			  ", "			  ", "			  ", "			  ", "			  ", "			  ", "			  ", "			  ", "			  ", "			  ", "			  ", "			  ", "			  ", "			  ", "			  ", "			  ", "			  ", "			  ", "			  ", "			  ", "			  ",
	  "			  ", "			  ", "			  ", "			  ", "			  ", "			  ", "			  ", "			  ", "			  ", "			  ", "			  ", "			  ", "			  ", "			  ", "			  ", "			  ", "			  ", "			  ", "			  ", "			  ",
		 "			  ", "			  ", "			  ", "			  ", "			  ", "			  ", "			  ", "			  ", "			  ", "		"]




</script>
