<h1>TICTACTOE</h1>
<p>(in development)</p>
<br><br>

<br><br><br><br>
<tr id="row1">
  <th ><img id="1" onclick="playerMove(1)" src="/assets/blank.png" />
  </th>
  <th ><img id="2" onclick="playerMove(2)" src="/assets/blank.png" />
  </th>
  <th ><img id="3" onclick="playerMove(3)" src="/assets/blank.png" />
  </th>
</tr>
<br>
<tr id="row2">
    <th><img id="4" onclick="playerMove(4)" src="/assets/blank.png" />
    </th>
    <th><img id="5" onclick="playerMove(5)" src="/assets/blank.png" />
    </th>
    <th><img id="6" onclick="playerMove(6)" src="/assets/blank.png" />
    </th>
  </tr>
<br>
<tr id="row3">
    <th><img id="7" onclick="playerMove(7)" src="/assets/blank.png" />
    </th>
    <th><img id="8" onclick="playerMove(8)" src="/assets/blank.png" />
    </th>
    <th><img id="9" onclick="playerMove(9)" src="/assets/blank.png" />
    </th>
</tr>
<br><br>
<button id="click" onclick="newGame()"> Play/new </button>

<script>
var count = 1;
var grid = [3,3,3,3,3,3,3,3,3];

function newGame(){
  for (var i = 1; i<10;i++){
    document.getElementById(i).src = "../img/blank.png";
    grid[i-1] = 0
  }

}
// this function updates the virtual grid
function gridupdate(){
  for( i=0;i<9;i++){
    grid[i] = document.getElementById(i+1).value ;
  }
}

function playerMove(space){
  if (document.getElementById(space).src ==  "http://techit.herokuapp/img/blank.png"){
    if (count % 2 == 1){
      document.getElementById(space).src = "../img/X.png" ;
      document.getElementById(space).value = 2 ;
      count++;}
    else {
      document.getElementById(space).src = "../img/O.png" ;
      document.getElementById(space).value = 1 ;
      count++;
    }
    gridupdate();
  }
  console.log (grid);
  console.log (count);
}



</script>
