<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
	<title></title>
	<meta name="generator" content="LibreOffice 5.1.6.2 (Linux)"/>
	<meta name="created" content="2019-02-14T11:32:55.334877038"/>
	<meta name="changed" content="2019-02-14T13:22:31.729651482"/>
	<style type="text/css">
		@page { margin: 0.79in }
		p { margin-bottom: 0.1in; line-height: 120% }
	</style>
</head>
<body lang="en-US" dir="ltr">
<p align="center" style="margin-bottom: 0in; border-top: none; border-bottom: 1px solid #000000; border-left: none; border-right: none; padding-top: 0in; padding-bottom: 0.03in; padding-left: 0in; padding-right: 0in; line-height: 100%">
TimeSheet for employees</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<form action="https://getsimpleform.com/messages?form_api_token=1bdb23c5f9b05cff2bc0f947431a3b9e" method="post">
  <!-- the redirect_to is optional, the form will redirect to the referrer on submission -->
  <!-- <input type='hidden' name='redirect_to' value='<the complete return url e.g. http://fooey.com/thank-you.html>' /> -->
  <!-- all your input fields here.... -->

<p style="margin-bottom: 0in; line-height: 100%">Date:
	<input type='text' name='date' />
</p>
<p style="margin-bottom: 0in; line-height: 100%">JobID
	<input type='text' name='job_id' />
</p>
<p style="margin-bottom: 0in; line-height: 100%">NameID
	<input type='text' name='name_id' />
</p>
<p style="margin-bottom: 0in; line-height: 100%">CustomerID
	<input type='text' name='customer_id' />
</p>
<p style="margin-bottom: 0in; border-top: none; border-bottom: 1px solid #000000; border-left: none; border-right: none; padding-top: 0in; padding-bottom: 0.03in; padding-left: 0in; padding-right: 0in; line-height: 100%">
<br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%">Detail
	<input type='text' name='detail' />
</p>
<p style="margin-bottom: 0in; line-height: 100%">	Address:
	<input type='text' name='address' />
</p>
<p style="margin-bottom: 0in; line-height: 100%">	Time Arrived:
	<input type='text' name='time_arrived' />
</p>
<p style="margin-bottom: 0in; line-height: 100%">	Time Left:
	<input type='text' name='time_left' />
</p>
<p style="margin-bottom: 0in; line-height: 100%">	Model:
	<input type='text' name='model' />
</p>
<p style="margin-bottom: 0in; line-height: 100%">	Operating System:
	<input type='text' name='os' />
</p>
<p style="margin-bottom: 0in; line-height: 100%">	Backup/solutions:
	<input type='text' name='backup_sol' />
</p>
<p style="margin-bottom: 0in; line-height: 100%">	Issue:
	<input type='text' name='issue' />
</p>
<p style="margin-bottom: 0in; line-height: 100%">	Diagnosis:
	<input type='text' name='diagnosis' />
</p>
<p style="margin-bottom: 0in; line-height: 100%">	Solution:
	<input type='body' name='solution' />
</p>
<p style="margin-bottom: 0in; line-height: 100%">	Cost of Repair
Materials:
<input type='text' name='cost_of_repair_materials' />
</p>
<p style="margin-bottom: 0in; line-height: 100%">		Receipt /Proof of
Purchase:
<input type='text' name='proof_of_purchase' />
</p>
<p style="margin-bottom: 0in; line-height: 100%">	Time spent on
premesis:
<input type='text' name='premesis_time_spent' />
</p>
<p style="margin-bottom: 0in; line-height: 100%">	Customer Credit
Card#: (if applicable)
<input type='text' name='ccrd_info' />
</p>
<p style="margin-bottom: 0in; line-height: 100%">	Cash Received:
	<input type='text' name='cash_received' />
</p>
<p style="margin-bottom: 0in; line-height: 100%">	Postcard Issued
<input type='text' name='postcard' />
</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<input type='submit' value='Submit' />
</form>
</body>
</html>
