<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
	<title></title>
	<meta name="generator" content="LibreOffice 5.1.6.2 (Linux)"/>
	<meta name="created" content="2021-03-21T23:25:36.745785945"/>
	<meta name="changed" content="2021-03-22T01:08:30.725132624"/>
	<style type="text/css">
		@page { margin: 0.79in }
		p { margin-bottom: 0.1in; line-height: 120% }
		a:link { so-language: zxx }
	</style>
</head>
<body lang="en-US" dir="ltr">
<p align="center" style="margin-bottom: 0in; line-height: 100%"><b><font size="4" style="font-size: 16pt">TREE
PRUNING </font><font size="4" style="font-size: 16pt">&amp; </font><font size="4" style="font-size: 16pt">FELLING
. </font></b>
</p>
<p align="center" style="margin-bottom: 0in; line-height: 100%"><font size="4" style="font-size: 16pt"><b>ROT
&amp; DEAD TREE REMOVAL</b></font></p>
<p align="center" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p align="center" style="margin-bottom: 0in; line-height: 100%"><font size="6" style="font-size: 22pt"><b>TREE
PRUNING AND FELLING SERVICES</b></font></p>
<p align="center" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p align="center" style="margin-bottom: 0in; font-weight: normal; line-height: 100%">
Servicing:</p>
<p align="center" style="margin-bottom: 0in; line-height: 100%"><b>North
&amp; Central NJ, Northeastern PA</b></p>
<p align="center" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p align="center" style="margin-bottom: 0in; line-height: 100%">A&amp;A
Arbors – vedabrat@gmail.com 
</p>
<p align="center" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p align="center" style="margin-bottom: 0in; line-height: 100%"><a href="sms://+1800605xxxx?&amp;body=I%27m%20interested%20in%20your%20product.%20Please%20contact%20me.">SEND
A TEXT</a> (Msg &amp; Data rates may apply )</p>
<p align="center" style="margin-bottom: 0in; line-height: 100%">with
pictures of the trees to be cut, surrounding areas, and nearby
fixtures/lines for a quote</p>
<p align="center" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p align="center" style="margin-bottom: 0in; line-height: 100%"><font color="#ff0000">
Average price quote (per tree) $1,800</font></p>
<p align="center" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p align="center" style="margin-bottom: 0in; line-height: 100%">Your
trees will safely and securely come down with my team.</p>
<p align="center" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p align="center" style="margin-bottom: 0in; line-height: 100%"><b>OSHA
reports over 100 landscape and tree fatalities a year</b></p>
<p align="center" style="margin-bottom: 0in; font-weight: normal; line-height: 100%">
<br/>

</p>
<p align="center" style="margin-bottom: 0in; font-weight: normal; line-height: 100%">
Falling tree branch accidents can result in 1.6 MILLION in negligence
damages.</p>
<p align="center" style="margin-bottom: 0in; font-weight: normal; line-height: 100%">
<br/>

</p>
<p align="center" style="margin-bottom: 0in; font-weight: normal; line-height: 100%">
<br/>

</p>
<p align="center" style="margin-bottom: 0in; font-weight: normal; line-height: 100%">
<br/>

</p>
<p align="center" style="margin-bottom: 0in; line-height: 100%">*Rates
depend on each tree’s circumstantial risks.</p>
<p align="center" style="margin-bottom: 0in; font-weight: normal; line-height: 100%">
*Disposal services not provided</p>
<p align="center" style="margin-bottom: 0in; font-weight: normal; line-height: 100%">
*Liabilites and insurance taken on by customer</p>
<p align="center" style="margin-bottom: 0in; font-weight: normal; line-height: 100%">
<br/>

</p>
</body>
</html>